#header-middle > .container > .row {
    @media only screen and (min-width: 1000px) {
        margin-right: -35px;
        margin-left: -35px;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1023px) {
    .main-menu >li > a {
        white-space: nowrap !important;
    }
}
.main-menu {
    @media only screen and (min-width: 992px) {    
        display: table;
        margin: 0 auto !important;
    }
}
#submit-btn {
    @media only screen and (max-width: 767px) {    
        padding: 6px 14px;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    .main-menu li a .arrow:after {
        display: none !important;
    }
    #nav-right .main-menu > li:first-child > a {
        padding-left: 15px !important;
    }
}
#mobile-min-menu {
    @media only screen and (min-width: 1000px) {
        display: none;
    }
}
#main-menu {
    @media only screen and (max-width: 1000px) {
        display: none;
    }
}
/*--------------------------------------------------------------
# Mobile CSS
--------------------------------------------------------------*/
@media only screen and (max-width: 1000px) {
    .main-menu {
        margin: 0;
        padding: 0;
    }
    #nav-left, #nav-right {
        display: none !important;
    }
    .main-menu li a span {
        display: none !important;
    }
    #mobile-menu {
        display: block;
    }
    .main-menu > li:hover>a {
        background-color: rgba(0, 0, 0, 0.04) !important;
        text-decoration: none;
    }
    .top-menu {
        .main-menu {
            > li.current-menu-item > a,
            > li.current-menu-ancestor > a {
                background-color: rgba(0, 0, 0, 0.04);
            }
        }
    }
    .overlapblackbg {
        left: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        display: none;
        background-color: rgba(0, 0, 0, 0.45);
        cursor: pointer;
    }
    .overlapblackbg.menuopen {
        display: block;
    }
    .top-menu .main-menu > li > a {
        backface-visibility: hidden;
        background-color: white;
        box-shadow: 0 0 1px transparent;
        color: #282828;
        display: block;
        font-weight: 700;
        line-height: 60px;
        overflow: hidden;
        padding: 5px 14px;
        position: relative;
        text-decoration: none;
        transform: translateZ(0px);
        vertical-align: middle;
    }
    /* Default Color */
    .main-menu li:hover {
        .sub-menu {
            display: none;
            .sub-menu {
                display: none;
            }
        }
    }
    .main-menu .sub-menu .sub-menu li:hover .sub-menu {
        display: none;
        list-style: none;
        padding: 2px;
        border: solid 1px $color__border-one;
        background-color: $color__white;
    }
    .main-menu li:first-child a {
        @include prefixed(border-radius, 0);
    }
    .main-menu li:last-child a {
        border-right: 0;
        @include prefixed(border-radius, 0);
    }
    .innerpnd {
        padding: 0 !important;
    }
    .menu-container {
        overflow: hidden;
        @include prefixed(backface-visibility, hidden);
        min-height: 800px;
        @include prefixed(transition, all 0.4s ease-in-out);
    }
    .menuexpandermain {
        background: $header__footer-bg;
        display: block !important;
        position: relative;
        overflow: hidden;
        padding-left: 40px;
        top: 0;
        right: 0;
        left: 0;
        @include prefixed(transition, all 0.4s ease-in-out);
    }
    /* Mobile click to drop arrow */
    .menu-click {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        cursor: pointer;
        z-index: 120;
        i {
            display: block;
            background-size: 25px;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.25);
            float: right;
            padding: 15px;
            width: 43px;
            @include prefixed(transition, transform 0.1s ease);
            border-left: 1px solid $color__border-two;
        }
    }
    .menu-extend.fa-plus::before {
        content: "\f068";
        font-family: FontAwesome;
    }
    /*2nd UL Style*/
    .main-menu .sub-menu {
        a {
            display: block;
            padding: 12px 25px;
            border-bottom: solid 1px $color__border-one !important;
            font-weight: normal;
        }
    }
    .top-menu .menu-wrapper ul > li ul {
        border-top: 0 none;
        border-bottom: 0 none;
        border-right: 0 none;
    } 
    .main-menu .sub-menu .sub-menu {
        width: 100% !important;
        position: static !important;
        left: 100% !important;
        top: 0 !important;
        display: none;
        margin: 0 !important;
        padding: 0 !important;
        border: solid 0 !important;
        transform: none !important;
        opacity: 1 !important;
        visibility: visible !important;
        li {
            margin: 0 !important;
            padding: 0;
            position: relative;
        }
    }
    .sub-menu sub li:hover>a {
        color: $color__white;
    }
    .main-menu > li > a .fa {
        margin-right: 6px;
    }
    .sub-menu .sub-menu .sub-menu {
        width: 100% !important;
        position: static !important;
        left: 100% !important;
        top: 0 !important;
        display: none;
        margin: 0 !important;
        padding: 0 !important;
        border: solid 0 !important;
        transform: none !important;
        opacity: 1 !important;
        visibility: visible !important;
    }
    .sub-menu .sub-menu .sub-menu li {
        margin: 0 !important;
    }
    .sub-menu .sub-menu .sub-menu a {
        display: block;
        color: $color__black;
        padding: 11px 25px;
        border-bottom: solid 1px $color__border-one;
        font-weight: normal;
    }
    .sub-menu .sub-menu .sub-menu li:hover>a {
        color: #fff;
    }
    .top-menu {
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        .menu-wrapper .container {
            padding: 0;
        }        
        .menu-wrapper .row {
            margin: 0;
        }
    }
    .top-menu .main-menu {
        height: 100%;
        display: block !important;
    }
    .top-menu .main-menu > li {
        width: 240px;
        display: block;
        float: none;
        border-right: none;
        background-color: transparent;
        position: relative;
        text-align: left;
        white-space: inherit;
    }
    .top-menu .main-menu > li > a::before {
        opacity: 0;
    }
    .top-menu .main-menu > li > a::after {
        position: relative;
        content: "";
    }
    .top-menu .main-menu > li > a {
        padding: 9px 32px 9px 17px;
        font-size: 13px;
        letter-spacing: 0.025em;
        border-right: solid 0px;
        background-color: transparent;
        line-height: 25px;
        border-bottom: 1px solid $color__border-two;
        position: static;
        text-transform: uppercase;
        color: #505050;
    }
    .sub-menu {
        transform: none !important;
        opacity: 1 !important;
        display: none;
        position: relative !important;
        top: 0px;
        background-color: $color__white;
        border: 0 none !important;
        padding: 0 !important;
        margin: 0 !important;
        visibility: visible !important;
        color: #505050;
        font-family: $font__heading;
        font-weight: normal;
    }
    .sub-menu .sub-menu li a {
        line-height: 20px;
        font-size: 14px !important;
    }
    .sub-menu li .sub-menu li a {
        padding-left: 28px;
    }
    .sub-menu .sub-menu li a,
    .sub-menu .sub-menu .sub-menu li a {
        padding-left: 38px !important;
    }
    .sub-menu li .sub-menu .sub-menu {
        padding-left: 38px;
    }
    .sub-menu .fa {
        margin-right: 0;
    }
    .mrginleft {
        margin-left: 240px;
        @include prefixed(transition,all 0.4s ease-in-out);
    }
    .top-menu {
        width: 0;
        height: 100%;
        position: fixed;
        left: 0;
        padding: 0;
        top: 0;
        margin: 0;
        z-index: 1000;
        @include prefixed(transition,all 0.4s ease-in-out);
        border: none !important;
        background-color: $color__white !important;
    }
   /*Nav Expanding Open Effect*/
    .top-menu.menuopen {
        width: 240px;
        @include prefixed(transition,all 0.4s ease-in-out);
    }
    .top-menu.menuclose {
        @include prefixed(transition,all 0.4s ease-in-out);
    }
    .menucontent {
        z-index: 100;
    }
    /* Navigation arrow Animation */
    .animated-arrow {
        position: absolute;
        right: 0;
        left: 0;
        width: 85px;
        top: 0;
        z-index: 200;
        @include prefixed(transition,all 0.4s ease-in-out);
    }
    .menu-marker {
        width: 100%;
        display: block;
        padding-top: 10px;
        margin-left: 8px;
        position: relative;
        z-index: 0;
        width: 100%;
        height: 50px;
        font-weight: bold;
        color: $color__menu-text;
        text-align: center;
    }
    .animated-arrow {
        cursor: pointer;
        padding: 6px 39px 16px 20px;
        margin: 30px auto 0;
    }
    .animated-arrow.menuopen {
        position: fixed;
    }
    .animated-arrow span {
        margin: auto;
        left: 0;
        right: 0;
    }
    .animated-arrow span,
    .animated-arrow span:before,
    .animated-arrow span:after {
        cursor: pointer;
        height: 3px;
        width: 23px;
        background: $color__menu-text;
        position: absolute;
        display: block;
        content: '';
    }
    .animated-arrow span:before {
        top: -7px;
    }
    .animated-arrow span:after {
        bottom: -7px;
    }
    .animated-arrow span,
    .animated-arrow span:before,
    .animated-arrow span:after { 
        @include prefixed(transition,all 500ms ease-in-out);
    }
    .animated-arrow.menuopen span {
        background-color: transparent;
    }
    .animated-arrow.menuopen span:before,
    .animated-arrow.menuopen span:after {
       background: $color__border-three; 
    }
    .animated-arrow.menuopen span:before,
    .animated-arrow.active span:after {
        top: 7px;
    }
    .animated-arrow.menuopen span:before {
        @include prefixed(transform,rotate(45deg));
        bottom: 0;
    }
    .animated-arrow.menuopen span:after {
        @include prefixed(transform,rotate(-45deg));
    }
    /*Animation None */
    .main-menu li > .sub-menu 
    .main-menu li:hover > .sub-menu {
        @include prefixed(transform, none !important);
        visibility: visible !important;
    }
    .sub-menu li:hover > .sub-menu {
        @include prefixed(transform, none !important);
        visibility: visible !important;
        opacity: 1 !important;
    }
    .megamenu.megacat {
        .megamenu-content  {
            display: none;
        }
    }
    .sh_mega_wrap {
        width: 100%;
        position: static;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        border: solid 0;
        transform: none;
        opacity: 1;
        visibility: visible;
    }

    .sub-menu.sh_mega_wrap,
    .sh_mega_cats {
        .menu-click {
            display: none;
        }
    }

    li.menu-item > ul.sub-menu,
    li.menu-item:not(.sh_mega) ul.sub-menu,
    .sh_mega_cats .cats-mega-wrap {
        display: none;
    }
    .sh_mega_wrap .sh_mega_wrap {
        display: block !important;
    }
    .sh_mega_wrap .menu-item-depth-1.mega_column {
        width: 100% !important;
        float: none !important;
        margin-right: 0 !important;
    }
    .sh_mega_wrap.sh_mega_col_3 .menu-item-depth-1.mega_column,
    .sh_mega_wrap.sh_mega_col_2 .menu-item-depth-1.mega_column,
    .sh_mega_wrap.sh_mega_col_5 .menu-item-depth-1.mega_column,
    .sh_mega_wrap.sh_mega_col_6 .menu-item-depth-1.mega_column,
    .sh_mega_wrap.sh_mega_col_1 .menu-item-depth-1.mega_column {
        width: 100%;
    }
    .sh_mega_wrap .sub-menu li a {
        padding-left: 22px !important;
        [class*="enotype-icon-"] {
            display: none;
        }
    }
    .sh_cats_column.sh_mega_wrap {
        display: none !important;
    }
    .main-menu-area {
        .animated-arrow {
            margin-top: 15px !important;
        }
    }
}
@media only screen and (max-width: 600px) {
    .menuexpandermain .menuopen {
        left: 15em !important;
        margin-top: 4px !important;
    }
}

/*--------------------------------------------------------------
# Pagination Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
    .paging-navigation {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 590px) {
    .paging-navigation {
        .nav-links {
            li {
                display: none;
            }   
            li:first-child.nav-previous,    
            li:last-child.nav-next {
                display: block;
            }
            li:first-child.nav-previous {
                float: left;
                margin-left: 60px;
            }
            li:last-child.nav-next {
                float: right;
                margin-right: 60px;
            }   
        }       
    }
}
@media only screen and (max-width: 482px) {
    .paging-navigation {
        margin-top: 30px;
    }
}