body {
	font-family: "Lato", sans-serif;
	color: #646464;
}
.editor-post-title__block .editor-post-title__input {
	font-family: "Lato", sans-serif;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}
h1 { font-size: 2.441em;}h2 { font-size: 1.953em;}h3 { font-size: 1.563em;}h4 { font-size: 1.25em;}h5 { font-size: 1em;}h6 { font-size: 0.8em;}
h1, h2, h3, h4, h5, h6 { color: #3d3d3d; font-weight: 400; }
pre {
    background: #f7f7f7;
    padding: 20px 30px;
    margin-bottom: 30px;
    max-width: 100%;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    border: 1px solid #ccc;
    border-left: 10px solid #ccc;
    font-size: 0.929em;
    overflow: auto;
    border-radius: 4px;
}
blockquote {
    font-family: "Playfair Display";
    font-weight: 400;
    font-style: italic;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}