/*
Theme Name: Glimmer

Adding support for language written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

http://codex.wordpress.org/Right_to_Left_Language_Support

*/
body {
	direction: rtl;
  	unicode-bidi: embed;
}

/*--------------------------------------------------------------
# Navigation Fix
--------------------------------------------------------------*/
.navigation .main-menu > li {
	float: right;
}
.navigation .main-menu li a i.mega_menu_arrow_holder {
	float: right;
	margin-right: 0;
	position: relative;
	right: -4px;
	top: 2px;
}
.navigation ul.main-menu > li:not(.sh_mega):not(.sh_mega_cats) ul.sub-menu li ul.sub-menu {
	left: -100%;
	right: auto;
}
.navigation .main-menu li a i {
	float: right;
	margin-left: 5px;
	margin-right: 0;
}
.navigation .main-menu > li .cats-mega-wrap {
	left: auto;
	right: -1px;
}
.navigation .main-menu > li .cats-mega-wrap ul.sub-menu {
	float: right;
}
.navigation .main-menu > li .cats-mega-wrap .subcat {
	float: left;
}
.navigation .main-menu > li .cats-mega-wrap .cats-mega-inner:before {
    right: 140px;
    left: auto;
}
.navigation ul.main-menu > li .cats-mega-wrap ul.sub-menu li {
    border-left-width: 0px;
    border-top-width: 0px;
}
.navigation ul.main-menu > li .cats-mega-wrap ul.sub-menu li.active a::before {
	right: auto;
	left: 5px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.navigation ul.main-menu li:not(.sh_mega):not(.sh_mega_cats) ul.sub-menu li.menu-item-has-children > a:after {
	right: auto;
	left: 10px;
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
}
ul.main-menu > li:not(.sh_mega):not(.sh_mega_cats) ul.sub-menu {
	right: 0;
}

.paging-navigation .nav-links > li:first-child {
    margin-left: 45px;
    margin-right: auto;
}

.paging-navigation .nav-links > li:last-child {
    margin-right: 45px;
    margin-left: auto;
}
.paging-navigation .nav-links li.nav-next a .fa-angle-double-right {
    margin-left: auto;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    margin-right: 7px;
    position: relative;
    top: 2px;
}
.paging-navigation .nav-links li.nav-previous a .fa-angle-double-left {
    margin-left: auto;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    margin-left: 7px;
    position: relative;
    top: 2px;
}
.paging-navigation .nav-links li.nav-next > a:after {
	left: auto;
	right: 0;
}
.paging-navigation .nav-links li.nav-previous > a:after {
	left: 0;
	right: auto;
}
.post-navigation .post-previous {
	text-align: right;
	padding: 40px;
	border-left: 0 none !important;
}
.post-navigation .post-previous i {
	display: none;
}
.post-navigation .post-next {
	text-align: left;
	padding: 40px;
	border-right: 1px solid #f0f0f0 !important;
}
.post-navigation .post-next i {
	display: none;
}

.content-area .grid .entry-header {
	text-align: right;
}
.content-area .grid .entry-footer .more-wraper {
	float: right;
}
.content-area .grid .footer-meta {
	float: left;
}


/* Widget */
.widget_nav_menu .menu .menu-click {
	right: auto;;
	left: -15px;
}
.widget_tag_cloud .tagcloud a {
	float: right;
}
.widget_nav_menu .menu .sub-menu li a {
	margin-left: 15px;
} 
.widget_nav_menu .sub-menu, 
.widget_pages .children {
  	border: 0 none;
  	margin: 0 1em 0 0;
}
.feed-wrapper .image-area {
  	float: right;
  	margin-left: 20px;
  	margin-right: 0;
}
.widget_glimmer_login_form .glimmer-theme-login-form .glimmer-theme-login-board .left-thumb {
  	float: right;
  	margin-left: 20px;
}
.widget_glimmer_login_form .glimmer-theme-login-form .glimmer-theme-login-board .right-details i {
  	margin-left: 8px;
  	margin-right: 0;
}
.widget_categories ul li .count, 
.widget_archive ul li .count, 
.widget_layered_nav ul li .count {
	right: auto;
	left: 0;
}

#footer-middle .widget .widget-title {
	text-align: right;
}