@font-face {
	font-family: 'enotype';
	src:url('fonts/enotype.eot');
	src:url('fonts/enotype.eot?#iefix') format('embedded-opentype'),
		url('fonts/enotype.ttf') format('truetype'),
		url('fonts/enotype.woff') format('woff'),
		url('fonts/enotype.svg#enotype') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="enotype-icon-"] {
	font-family: 'enotype';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.enotype-icon-phone:before {
	content: "\e600";
}
.enotype-icon-mobile:before {
	content: "\e601";
}
.enotype-icon-mouse:before {
	content: "\e602";
}
.enotype-icon-directions:before {
	content: "\e603";
}
.enotype-icon-mail:before {
	content: "\e604";
}
.enotype-icon-paperplane:before {
	content: "\e605";
}
.enotype-icon-pencil:before {
	content: "\e606";
}
.enotype-icon-feather:before {
	content: "\e607";
}
.enotype-icon-paperclip:before {
	content: "\e608";
}
.enotype-icon-drawer:before {
	content: "\e609";
}
.enotype-icon-reply:before {
	content: "\e60a";
}
.enotype-icon-reply-all:before {
	content: "\e60b";
}
.enotype-icon-forward:before {
	content: "\e60c";
}
.enotype-icon-user:before {
	content: "\e60d";
}
.enotype-icon-users:before {
	content: "\e60e";
}
.enotype-icon-user-add:before {
	content: "\e60f";
}
.enotype-icon-vcard:before {
	content: "\e610";
}
.enotype-icon-export:before {
	content: "\e611";
}
.enotype-icon-location:before {
	content: "\e612";
}
.enotype-icon-map:before {
	content: "\e613";
}
.enotype-icon-compass:before {
	content: "\e614";
}
.enotype-icon-location2:before {
	content: "\e615";
}
.enotype-icon-target:before {
	content: "\e616";
}
.enotype-icon-share:before {
	content: "\e617";
}
.enotype-icon-sharable:before {
	content: "\e618";
}
.enotype-icon-heart:before {
	content: "\e619";
}
.enotype-icon-heart2:before {
	content: "\e61a";
}
.enotype-icon-star:before {
	content: "\e61b";
}
.enotype-icon-star2:before {
	content: "\e61c";
}
.enotype-icon-thumbs-up:before {
	content: "\e61d";
}
.enotype-icon-thumbs-down:before {
	content: "\e61e";
}
.enotype-icon-chat:before {
	content: "\e61f";
}
.enotype-icon-comment:before {
	content: "\e620";
}
.enotype-icon-quote:before {
	content: "\e621";
}
.enotype-icon-house:before {
	content: "\e622";
}
.enotype-icon-popup:before {
	content: "\e623";
}
.enotype-icon-search:before {
	content: "\e624";
}
.enotype-icon-flashlight:before {
	content: "\e625";
}
.enotype-icon-printer:before {
	content: "\e626";
}
.enotype-icon-bell:before {
	content: "\e627";
}
.enotype-icon-link:before {
	content: "\e628";
}
.enotype-icon-flag:before {
	content: "\e629";
}
.enotype-icon-cog:before {
	content: "\e62a";
}
.enotype-icon-tools:before {
	content: "\e62b";
}
.enotype-icon-trophy:before {
	content: "\e62c";
}
.enotype-icon-tag:before {
	content: "\e62d";
}
.enotype-icon-camera:before {
	content: "\e62e";
}
.enotype-icon-megaphone:before {
	content: "\e62f";
}
.enotype-icon-moon:before {
	content: "\e630";
}
.enotype-icon-palette:before {
	content: "\e631";
}
.enotype-icon-leaf:before {
	content: "\e632";
}
.enotype-icon-music:before {
	content: "\e633";
}
.enotype-icon-music2:before {
	content: "\e634";
}
.enotype-icon-new:before {
	content: "\e635";
}
.enotype-icon-graduation:before {
	content: "\e636";
}
.enotype-icon-book:before {
	content: "\e637";
}
.enotype-icon-newspaper:before {
	content: "\e638";
}
.enotype-icon-bag:before {
	content: "\e639";
}
.enotype-icon-airplane:before {
	content: "\e63a";
}
.enotype-icon-lifebuoy:before {
	content: "\e63b";
}
.enotype-icon-eye:before {
	content: "\e63c";
}
.enotype-icon-clock:before {
	content: "\e63d";
}
.enotype-icon-microphone:before {
	content: "\e63e";
}
.enotype-icon-calendar:before {
	content: "\e63f";
}
.enotype-icon-bolt:before {
	content: "\e640";
}
.enotype-icon-thunder:before {
	content: "\e641";
}
.enotype-icon-droplet:before {
	content: "\e642";
}
.enotype-icon-cd:before {
	content: "\e643";
}
.enotype-icon-briefcase:before {
	content: "\e644";
}
.enotype-icon-air:before {
	content: "\e645";
}
.enotype-icon-hourglass:before {
	content: "\e646";
}
.enotype-icon-gauge:before {
	content: "\e647";
}
.enotype-icon-language:before {
	content: "\e648";
}
.enotype-icon-network:before {
	content: "\e649";
}
.enotype-icon-key:before {
	content: "\e64a";
}
.enotype-icon-battery:before {
	content: "\e64b";
}
.enotype-icon-bucket:before {
	content: "\e64c";
}
.enotype-icon-magnet:before {
	content: "\e64d";
}
.enotype-icon-drive:before {
	content: "\e64e";
}
.enotype-icon-cup:before {
	content: "\e64f";
}
.enotype-icon-rocket:before {
	content: "\e650";
}
.enotype-icon-brush:before {
	content: "\e651";
}
.enotype-icon-suitcase:before {
	content: "\e652";
}
.enotype-icon-cone:before {
	content: "\e653";
}
.enotype-icon-earth:before {
	content: "\e654";
}
.enotype-icon-keyboard:before {
	content: "\e655";
}
.enotype-icon-browser:before {
	content: "\e656";
}
.enotype-icon-publish:before {
	content: "\e657";
}
.enotype-icon-progress-3:before {
	content: "\e658";
}
.enotype-icon-progress-2:before {
	content: "\e659";
}
.enotype-icon-brogress-1:before {
	content: "\e65a";
}
.enotype-icon-progress-0:before {
	content: "\e65b";
}
.enotype-icon-sun:before {
	content: "\e65c";
}
.enotype-icon-sun2:before {
	content: "\e65d";
}
.enotype-icon-adjust:before {
	content: "\e65e";
}
.enotype-icon-code:before {
	content: "\e65f";
}
.enotype-icon-screen:before {
	content: "\e660";
}
.enotype-icon-infinity:before {
	content: "\e661";
}
.enotype-icon-light-bulb:before {
	content: "\e662";
}
.enotype-icon-credit-card:before {
	content: "\e663";
}
.enotype-icon-database:before {
	content: "\e664";
}
.enotype-icon-voicemail:before {
	content: "\e665";
}
.enotype-icon-clipboard:before {
	content: "\e666";
}
.enotype-icon-cart:before {
	content: "\e667";
}
.enotype-icon-box:before {
	content: "\e668";
}
.enotype-icon-ticket:before {
	content: "\e669";
}
.enotype-icon-rss:before {
	content: "\e66a";
}
.enotype-icon-signal:before {
	content: "\e66b";
}
.enotype-icon-thermometer:before {
	content: "\e66c";
}
.enotype-icon-droplets:before {
	content: "\e66d";
}
.enotype-icon-uniE66E:before {
	content: "\e66e";
}
.enotype-icon-statistics:before {
	content: "\e66f";
}
.enotype-icon-pie:before {
	content: "\e670";
}
.enotype-icon-bars:before {
	content: "\e671";
}
.enotype-icon-graph:before {
	content: "\e672";
}
.enotype-icon-lock:before {
	content: "\e673";
}
.enotype-icon-lock-open:before {
	content: "\e674";
}
.enotype-icon-logout:before {
	content: "\e675";
}
.enotype-icon-login:before {
	content: "\e676";
}
.enotype-icon-checkmark:before {
	content: "\e677";
}
.enotype-icon-cross:before {
	content: "\e678";
}
.enotype-icon-minus:before {
	content: "\e679";
}
.enotype-icon-plus:before {
	content: "\e67a";
}
.enotype-icon-cross2:before {
	content: "\e67b";
}
.enotype-icon-minus2:before {
	content: "\e67c";
}
.enotype-icon-plus2:before {
	content: "\e67d";
}
.enotype-icon-cross3:before {
	content: "\e67e";
}
.enotype-icon-minus3:before {
	content: "\e67f";
}
.enotype-icon-plus3:before {
	content: "\e680";
}
.enotype-icon-erase:before {
	content: "\e681";
}
.enotype-icon-blocked:before {
	content: "\e682";
}
.enotype-icon-info:before {
	content: "\e683";
}
.enotype-icon-info2:before {
	content: "\e684";
}
.enotype-icon-question:before {
	content: "\e685";
}
.enotype-icon-help:before {
	content: "\e686";
}
.enotype-icon-warning:before {
	content: "\e687";
}
.enotype-icon-cycle:before {
	content: "\e688";
}
.enotype-icon-cw:before {
	content: "\e689";
}
.enotype-icon-ccw:before {
	content: "\e68a";
}
.enotype-icon-shuffle:before {
	content: "\e68b";
}
.enotype-icon-arrow:before {
	content: "\e68c";
}
.enotype-icon-arrow2:before {
	content: "\e68d";
}
.enotype-icon-retweet:before {
	content: "\e68e";
}
.enotype-icon-loop:before {
	content: "\e68f";
}
.enotype-icon-history:before {
	content: "\e690";
}
.enotype-icon-back:before {
	content: "\e691";
}
.enotype-icon-switch:before {
	content: "\e692";
}
.enotype-icon-list:before {
	content: "\e693";
}
.enotype-icon-add-to-list:before {
	content: "\e694";
}
.enotype-icon-layout:before {
	content: "\e695";
}
.enotype-icon-list2:before {
	content: "\e696";
}
.enotype-icon-text:before {
	content: "\e697";
}
.enotype-icon-text2:before {
	content: "\e698";
}
.enotype-icon-document:before {
	content: "\e699";
}
.enotype-icon-docs:before {
	content: "\e69a";
}
.enotype-icon-landscape:before {
	content: "\e69b";
}
.enotype-icon-pictures:before {
	content: "\e69c";
}
.enotype-icon-video:before {
	content: "\e69d";
}
.enotype-icon-music3:before {
	content: "\e69e";
}
.enotype-icon-folder:before {
	content: "\e69f";
}
.enotype-icon-archive:before {
	content: "\e6a0";
}
.enotype-icon-trash:before {
	content: "\e6a1";
}
.enotype-icon-upload:before {
	content: "\e6a2";
}
.enotype-icon-download:before {
	content: "\e6a3";
}
.enotype-icon-disk:before {
	content: "\e6a4";
}
.enotype-icon-install:before {
	content: "\e6a5";
}
.enotype-icon-cloud:before {
	content: "\e6a6";
}
.enotype-icon-upload2:before {
	content: "\e6a7";
}
.enotype-icon-bookmark:before {
	content: "\e6a8";
}
.enotype-icon-bookmarks:before {
	content: "\e6a9";
}
.enotype-icon-book2:before {
	content: "\e6aa";
}
.enotype-icon-play:before {
	content: "\e6ab";
}
.enotype-icon-pause:before {
	content: "\e6ac";
}
.enotype-icon-record:before {
	content: "\e6ad";
}
.enotype-icon-stop:before {
	content: "\e6ae";
}
.enotype-icon-next:before {
	content: "\e6af";
}
.enotype-icon-previous:before {
	content: "\e6b0";
}
.enotype-icon-first:before {
	content: "\e6b1";
}
.enotype-icon-last:before {
	content: "\e6b2";
}
.enotype-icon-resize-enlarge:before {
	content: "\e6b3";
}
.enotype-icon-resize-shrink:before {
	content: "\e6b4";
}
.enotype-icon-volume:before {
	content: "\e6b5";
}
.enotype-icon-sound:before {
	content: "\e6b6";
}
.enotype-icon-mute:before {
	content: "\e6b7";
}
.enotype-icon-flow-cascade:before {
	content: "\e6b8";
}
.enotype-icon-flow-branch:before {
	content: "\e6b9";
}
.enotype-icon-flow-tree:before {
	content: "\e6ba";
}
.enotype-icon-flow-line:before {
	content: "\e6bb";
}
.enotype-icon-flow-parallel:before {
	content: "\e6bc";
}
.enotype-icon-arrow-left:before {
	content: "\e6bd";
}
.enotype-icon-arrow-down:before {
	content: "\e6be";
}
.enotype-icon-arrow-up--upload:before {
	content: "\e6bf";
}
.enotype-icon-arrow-right:before {
	content: "\e6c0";
}
.enotype-icon-arrow-left2:before {
	content: "\e6c1";
}
.enotype-icon-arrow-down2:before {
	content: "\e6c2";
}
.enotype-icon-arrow-up:before {
	content: "\e6c3";
}
.enotype-icon-arrow-right2:before {
	content: "\e6c4";
}
.enotype-icon-arrow-left3:before {
	content: "\e6c5";
}
.enotype-icon-arrow-down3:before {
	content: "\e6c6";
}
.enotype-icon-arrow-up2:before {
	content: "\e6c7";
}
.enotype-icon-arrow-right3:before {
	content: "\e6c8";
}
.enotype-icon-arrow-left4:before {
	content: "\e6c9";
}
.enotype-icon-arrow-down4:before {
	content: "\e6ca";
}
.enotype-icon-arrow-up3:before {
	content: "\e6cb";
}
.enotype-icon-arrow-right4:before {
	content: "\e6cc";
}
.enotype-icon-arrow-left5:before {
	content: "\e6cd";
}
.enotype-icon-arrow-down5:before {
	content: "\e6ce";
}
.enotype-icon-arrow-up4:before {
	content: "\e6cf";
}
.enotype-icon-arrow-right5:before {
	content: "\e6d0";
}
.enotype-icon-arrow-left6:before {
	content: "\e6d1";
}
.enotype-icon-arrow-down6:before {
	content: "\e6d2";
}
.enotype-icon-arrow-up5:before {
	content: "\e6d3";
}
.enotype-icon-arrow-right6:before {
	content: "\e6d4";
}
.enotype-icon-arrow-left7:before {
	content: "\e6d5";
}
.enotype-icon-arrow-down7:before {
	content: "\e6d6";
}
.enotype-icon-arrow-up6:before {
	content: "\e6d7";
}
.enotype-icon-uniE6D8:before {
	content: "\e6d8";
}
.enotype-icon-arrow-left8:before {
	content: "\e6d9";
}
.enotype-icon-arrow-down8:before {
	content: "\e6da";
}
.enotype-icon-arrow-up7:before {
	content: "\e6db";
}
.enotype-icon-arrow-right7:before {
	content: "\e6dc";
}
.enotype-icon-menu:before {
	content: "\e6dd";
}
.enotype-icon-ellipsis:before {
	content: "\e6de";
}
.enotype-icon-dots:before {
	content: "\e6df";
}
.enotype-icon-dot:before {
	content: "\e6e0";
}
.enotype-icon-cc:before {
	content: "\e6e1";
}
.enotype-icon-cc-by:before {
	content: "\e6e2";
}
.enotype-icon-cc-nc:before {
	content: "\e6e3";
}
.enotype-icon-cc-nc-eu:before {
	content: "\e6e4";
}
.enotype-icon-cc-nc-jp:before {
	content: "\e6e5";
}
.enotype-icon-cc-sa:before {
	content: "\e6e6";
}
.enotype-icon-cc-nd:before {
	content: "\e6e7";
}
.enotype-icon-cc-pd:before {
	content: "\e6e8";
}
.enotype-icon-cc-zero:before {
	content: "\e6e9";
}
.enotype-icon-cc-share:before {
	content: "\e6ea";
}
.enotype-icon-cc-share2:before {
	content: "\e6eb";
}
.enotype-icon-daniel-bruce:before {
	content: "\e6ec";
}
.enotype-icon-daniel-bruce2:before {
	content: "\e6ed";
}
.enotype-icon-github:before {
	content: "\e6ee";
}
.enotype-icon-github2:before {
	content: "\e6ef";
}
.enotype-icon-flickr:before {
	content: "\e6f0";
}
.enotype-icon-flickr2:before {
	content: "\e6f1";
}
.enotype-icon-vimeo:before {
	content: "\e6f2";
}
.enotype-icon-vimeo2:before {
	content: "\e6f3";
}
.enotype-icon-twitter:before {
	content: "\e6f4";
}
.enotype-icon-twitter2:before {
	content: "\e6f5";
}
.enotype-icon-facebook:before {
	content: "\e6f6";
}
.enotype-icon-facebook2:before {
	content: "\e6f7";
}
.enotype-icon-facebook3:before {
	content: "\e6f8";
}
.enotype-icon-googleplus:before {
	content: "\e6f9";
}
.enotype-icon-googleplus2:before {
	content: "\e6fa";
}
.enotype-icon-pinterest:before {
	content: "\e6fb";
}
.enotype-icon-pinterest2:before {
	content: "\e6fc";
}
.enotype-icon-tumblr:before {
	content: "\e6fd";
}
.enotype-icon-tumblr2:before {
	content: "\e6fe";
}
.enotype-icon-linkedin:before {
	content: "\e6ff";
}
.enotype-icon-linkedin2:before {
	content: "\e700";
}
.enotype-icon-dribbble:before {
	content: "\e701";
}
.enotype-icon-dribbble2:before {
	content: "\e702";
}
.enotype-icon-stumbleupon:before {
	content: "\e703";
}
.enotype-icon-stumbleupon2:before {
	content: "\e704";
}
.enotype-icon-lastfm:before {
	content: "\e705";
}
.enotype-icon-lastfm2:before {
	content: "\e706";
}
.enotype-icon-rdio:before {
	content: "\e707";
}
.enotype-icon-rdio2:before {
	content: "\e708";
}
.enotype-icon-spotify:before {
	content: "\e709";
}
.enotype-icon-spotify2:before {
	content: "\e70a";
}
.enotype-icon-qq:before {
	content: "\e70b";
}
.enotype-icon-instagram:before {
	content: "\e70c";
}
.enotype-icon-dropbox:before {
	content: "\e70d";
}
.enotype-icon-evernote:before {
	content: "\e70e";
}
.enotype-icon-flattr:before {
	content: "\e70f";
}
.enotype-icon-skype:before {
	content: "\e710";
}
.enotype-icon-skype2:before {
	content: "\e711";
}
.enotype-icon-renren:before {
	content: "\e712";
}
.enotype-icon-sina-weibo:before {
	content: "\e713";
}
.enotype-icon-paypal:before {
	content: "\e714";
}
.enotype-icon-picasa:before {
	content: "\e715";
}
.enotype-icon-soundcloud:before {
	content: "\e716";
}
.enotype-icon-mixi:before {
	content: "\e717";
}
.enotype-icon-behance:before {
	content: "\e718";
}
.enotype-icon-circles:before {
	content: "\e719";
}
.enotype-icon-vk:before {
	content: "\e71a";
}
.enotype-icon-smashing:before {
	content: "\e71b";
}
