/*
Theme Name: Glimmer Child Theme
Theme URI: http://glimmer.softhopper.net
Author: SoftHopper
Author URI: http://softhopper.net
Template: glimmer
Description: This is a child theme for glimmer.
Version: 2.0
Text Domain: glimmer-child
*/

/*  [ Add your custom CSS below ]
================================ */
.home .site-content {
 background-color: rgba(146,114,206,0.05);
}

.header-search input {
    background-color : inherit;
}

.cn-button.wp-default {
    background-color: #ffb700 !important;
}

.main-menu > li > a,
.sh_custom_mega .megamenu-content .entry-title,
.navigation ul.main-menu > li:not(.sh_mega) ul.sub-menu li,
.navigation ul.main-menu li.sh_mega ul li,
.navigation .main-menu > li .cats-mega-wrap .subcat li .subcat-title a,
.navigation .main-menu > li .cats-mega-wrap .subcat .sh-cat-latest .view_all_posts,
.cat_full .entry-title,
.cat_full .view-all,
.top-menu .main-menu li a
{
    font-family: 'Roboto Condensed' !important;
}
