.widget {
	background: $color__white;
	padding: 30px; 
	background: $header__footer-bg;
	margin-bottom: 30px;
	overflow: hidden;
	&:last-child {
		border-bottom: none;
	}
	select {
		width: 100%;
		border: 1px solid $color__border-one;
		padding: 0.4em 0.8em;
		outline: none;
	}
	ul, ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	ul li {
		border-bottom: 1px solid $color__border-one;
	}
	p {
		font-family: $font__body;
	}
	.widget-title-area {
		position: relative;
	}

	.widget-title {
		text-align: center;
		position: relative;
		text-transform: capitalize;
		margin-bottom: 27px;
		margin-top: 0;
		clear: both;
		> span {
		    position: relative;
		    z-index: 3;
		    display: inline-block;
		    padding: 0 15px;
		    background-color: $header__footer-bg;
		    font-weight: bold;
		}
		&:before {
			background: #ebf1ef;
			content: "";
			position: absolute;
			width: 100%;
			height: 10px;
			left: 0;
			top: 50%;
			margin-top: -4px;
		}
	}
	pre {
		padding: 0.5em
	}
	label {
		margin-bottom: 0;
		display: inline;
	}
	option {
		padding: 0.2em 1em;
	}
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	textarea {
		padding: 0.5em 1em;
		&:focus {
		 	box-shadow: none !important;
		}
	}
}