@font-face {
	font-family: 'brankic';
	src:url('fonts/brankic.eot');
	src:url('fonts/brankic.eot?#iefix') format('embedded-opentype'),
		url('fonts/brankic.ttf') format('truetype'),
		url('fonts/brankic.woff') format('woff'),
		url('fonts/brankic.svg#brankic') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="brankic-icon-"] {
	font-family: 'brankic';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.brankic-icon-number:before {
	content: "\e600";
}
.brankic-icon-number2:before {
	content: "\e601";
}
.brankic-icon-number3:before {
	content: "\e602";
}
.brankic-icon-number4:before {
	content: "\e603";
}
.brankic-icon-number5:before {
	content: "\e604";
}
.brankic-icon-number6:before {
	content: "\e605";
}
.brankic-icon-number7:before {
	content: "\e606";
}
.brankic-icon-number8:before {
	content: "\e607";
}
.brankic-icon-number9:before {
	content: "\e608";
}
.brankic-icon-number10:before {
	content: "\e609";
}
.brankic-icon-number11:before {
	content: "\e60a";
}
.brankic-icon-number12:before {
	content: "\e60b";
}
.brankic-icon-number13:before {
	content: "\e60c";
}
.brankic-icon-number14:before {
	content: "\e60d";
}
.brankic-icon-number15:before {
	content: "\e60e";
}
.brankic-icon-number16:before {
	content: "\e60f";
}
.brankic-icon-number17:before {
	content: "\e610";
}
.brankic-icon-number18:before {
	content: "\e611";
}
.brankic-icon-number19:before {
	content: "\e612";
}
.brankic-icon-number20:before {
	content: "\e613";
}
.brankic-icon-quote:before {
	content: "\e614";
}
.brankic-icon-quote2:before {
	content: "\e615";
}
.brankic-icon-tag:before {
	content: "\e616";
}
.brankic-icon-tag2:before {
	content: "\e617";
}
.brankic-icon-link:before {
	content: "\e618";
}
.brankic-icon-link2:before {
	content: "\e619";
}
.brankic-icon-cabinet:before {
	content: "\e61a";
}
.brankic-icon-cabinet2:before {
	content: "\e61b";
}
.brankic-icon-calendar:before {
	content: "\e61c";
}
.brankic-icon-calendar2:before {
	content: "\e61d";
}
.brankic-icon-calendar3:before {
	content: "\e61e";
}
.brankic-icon-file:before {
	content: "\e61f";
}
.brankic-icon-file2:before {
	content: "\e620";
}
.brankic-icon-file3:before {
	content: "\e621";
}
.brankic-icon-files:before {
	content: "\e622";
}
.brankic-icon-phone:before {
	content: "\e623";
}
.brankic-icon-tablet:before {
	content: "\e624";
}
.brankic-icon-window:before {
	content: "\e625";
}
.brankic-icon-monitor:before {
	content: "\e626";
}
.brankic-icon-ipod:before {
	content: "\e627";
}
.brankic-icon-tv:before {
	content: "\e628";
}
.brankic-icon-camera:before {
	content: "\e629";
}
.brankic-icon-camera2:before {
	content: "\e62a";
}
.brankic-icon-camera3:before {
	content: "\e62b";
}
.brankic-icon-film:before {
	content: "\e62c";
}
.brankic-icon-film2:before {
	content: "\e62d";
}
.brankic-icon-film3:before {
	content: "\e62e";
}
.brankic-icon-microphone:before {
	content: "\e62f";
}
.brankic-icon-microphone2:before {
	content: "\e630";
}
.brankic-icon-microphone3:before {
	content: "\e631";
}
.brankic-icon-drink:before {
	content: "\e632";
}
.brankic-icon-drink2:before {
	content: "\e633";
}
.brankic-icon-drink3:before {
	content: "\e634";
}
.brankic-icon-drink4:before {
	content: "\e635";
}
.brankic-icon-coffee:before {
	content: "\e636";
}
.brankic-icon-mug:before {
	content: "\e637";
}
.brankic-icon-ice-cream:before {
	content: "\e638";
}
.brankic-icon-cake:before {
	content: "\e639";
}
.brankic-icon-inbox:before {
	content: "\e63a";
}
.brankic-icon-download:before {
	content: "\e63b";
}
.brankic-icon-upload:before {
	content: "\e63c";
}
.brankic-icon-inbox2:before {
	content: "\e63d";
}
.brankic-icon-checkmark:before {
	content: "\e63e";
}
.brankic-icon-checkmark2:before {
	content: "\e63f";
}
.brankic-icon-cancel:before {
	content: "\e640";
}
.brankic-icon-cancel2:before {
	content: "\e641";
}
.brankic-icon-plus:before {
	content: "\e642";
}
.brankic-icon-plus2:before {
	content: "\e643";
}
.brankic-icon-minus:before {
	content: "\e644";
}
.brankic-icon-minus2:before {
	content: "\e645";
}
.brankic-icon-notice:before {
	content: "\e646";
}
.brankic-icon-notice2:before {
	content: "\e647";
}
.brankic-icon-cog:before {
	content: "\e648";
}
.brankic-icon-cogs:before {
	content: "\e649";
}
.brankic-icon-cog2:before {
	content: "\e64a";
}
.brankic-icon-warning:before {
	content: "\e64b";
}
.brankic-icon-health:before {
	content: "\e64c";
}
.brankic-icon-suitcase:before {
	content: "\e64d";
}
.brankic-icon-suitcase2:before {
	content: "\e64e";
}
.brankic-icon-suitcase3:before {
	content: "\e64f";
}
.brankic-icon-picture:before {
	content: "\e650";
}
.brankic-icon-pictures:before {
	content: "\e651";
}
.brankic-icon-pictures2:before {
	content: "\e652";
}
.brankic-icon-android:before {
	content: "\e653";
}
.brankic-icon-marvin:before {
	content: "\e654";
}
.brankic-icon-pacman:before {
	content: "\e655";
}
.brankic-icon-cassette:before {
	content: "\e656";
}
.brankic-icon-watch:before {
	content: "\e657";
}
.brankic-icon-chronometer:before {
	content: "\e658";
}
.brankic-icon-watch2:before {
	content: "\e659";
}
.brankic-icon-alarm-clock:before {
	content: "\e65a";
}
.brankic-icon-time:before {
	content: "\e65b";
}
.brankic-icon-time2:before {
	content: "\e65c";
}
.brankic-icon-headphones:before {
	content: "\e65d";
}
.brankic-icon-wallet:before {
	content: "\e65e";
}
.brankic-icon-checkmark3:before {
	content: "\e65f";
}
.brankic-icon-cancel3:before {
	content: "\e660";
}
.brankic-icon-eye:before {
	content: "\e661";
}
.brankic-icon-position:before {
	content: "\e662";
}
.brankic-icon-site-map:before {
	content: "\e663";
}
.brankic-icon-site-map2:before {
	content: "\e664";
}
.brankic-icon-cloud:before {
	content: "\e665";
}
.brankic-icon-upload2:before {
	content: "\e666";
}
.brankic-icon-chart:before {
	content: "\e667";
}
.brankic-icon-chart2:before {
	content: "\e668";
}
.brankic-icon-chart3:before {
	content: "\e669";
}
.brankic-icon-chart4:before {
	content: "\e66a";
}
.brankic-icon-chart5:before {
	content: "\e66b";
}
.brankic-icon-chart6:before {
	content: "\e66c";
}
.brankic-icon-location:before {
	content: "\e66d";
}
.brankic-icon-download2:before {
	content: "\e66e";
}
.brankic-icon-basket:before {
	content: "\e66f";
}
.brankic-icon-folder:before {
	content: "\e670";
}
.brankic-icon-gamepad:before {
	content: "\e671";
}
.brankic-icon-alarm:before {
	content: "\e672";
}
.brankic-icon-alarm-cancel:before {
	content: "\e673";
}
.brankic-icon-phone2:before {
	content: "\e674";
}
.brankic-icon-phone3:before {
	content: "\e675";
}
.brankic-icon-image:before {
	content: "\e676";
}
.brankic-icon-open:before {
	content: "\e677";
}
.brankic-icon-sale:before {
	content: "\e678";
}
.brankic-icon-direction:before {
	content: "\e679";
}
.brankic-icon-map:before {
	content: "\e67a";
}
.brankic-icon-trashcan:before {
	content: "\e67b";
}
.brankic-icon-vote:before {
	content: "\e67c";
}
.brankic-icon-graduate:before {
	content: "\e67d";
}
.brankic-icon-lab:before {
	content: "\e67e";
}
.brankic-icon-tie:before {
	content: "\e67f";
}
.brankic-icon-football:before {
	content: "\e680";
}
.brankic-icon-eight-ball:before {
	content: "\e681";
}
.brankic-icon-bowling:before {
	content: "\e682";
}
.brankic-icon-bowling-pin:before {
	content: "\e683";
}
.brankic-icon-baseball:before {
	content: "\e684";
}
.brankic-icon-soccer:before {
	content: "\e685";
}
.brankic-icon-3d-glasses:before {
	content: "\e686";
}
.brankic-icon-microwave:before {
	content: "\e687";
}
.brankic-icon-refrigerator:before {
	content: "\e688";
}
.brankic-icon-oven:before {
	content: "\e689";
}
.brankic-icon-washing-machine:before {
	content: "\e68a";
}
.brankic-icon-mouse:before {
	content: "\e68b";
}
.brankic-icon-smiley:before {
	content: "\e68c";
}
.brankic-icon-sad:before {
	content: "\e68d";
}
.brankic-icon-mute:before {
	content: "\e68e";
}
.brankic-icon-hand:before {
	content: "\e68f";
}
.brankic-icon-radio:before {
	content: "\e690";
}
.brankic-icon-satellite:before {
	content: "\e691";
}
.brankic-icon-medal:before {
	content: "\e692";
}
.brankic-icon-medal2:before {
	content: "\e693";
}
.brankic-icon-switch:before {
	content: "\e694";
}
.brankic-icon-key:before {
	content: "\e695";
}
.brankic-icon-cord:before {
	content: "\e696";
}
.brankic-icon-locked:before {
	content: "\e697";
}
.brankic-icon-unlocked:before {
	content: "\e698";
}
.brankic-icon-locked2:before {
	content: "\e699";
}
.brankic-icon-unlocked2:before {
	content: "\e69a";
}
.brankic-icon-magnifier:before {
	content: "\e69b";
}
.brankic-icon-zoom-in:before {
	content: "\e69c";
}
.brankic-icon-zoom-out:before {
	content: "\e69d";
}
.brankic-icon-stack:before {
	content: "\e69e";
}
.brankic-icon-stack2:before {
	content: "\e69f";
}
.brankic-icon-stack3:before {
	content: "\e6a0";
}
.brankic-icon-david-star:before {
	content: "\e6a1";
}
.brankic-icon-cross:before {
	content: "\e6a2";
}
.brankic-icon-moon-andstar:before {
	content: "\e6a3";
}
.brankic-icon-transformers:before {
	content: "\e6a4";
}
.brankic-icon-batman:before {
	content: "\e6a5";
}
.brankic-icon-space-invaders:before {
	content: "\e6a6";
}
.brankic-icon-skeletor:before {
	content: "\e6a7";
}
.brankic-icon-lamp:before {
	content: "\e6a8";
}
.brankic-icon-lamp2:before {
	content: "\e6a9";
}
.brankic-icon-umbrella:before {
	content: "\e6aa";
}
.brankic-icon-street-light:before {
	content: "\e6ab";
}
.brankic-icon-bomb:before {
	content: "\e6ac";
}
.brankic-icon-archive:before {
	content: "\e6ad";
}
.brankic-icon-battery:before {
	content: "\e6ae";
}
.brankic-icon-battery2:before {
	content: "\e6af";
}
.brankic-icon-battery3:before {
	content: "\e6b0";
}
.brankic-icon-battery4:before {
	content: "\e6b1";
}
.brankic-icon-battery5:before {
	content: "\e6b2";
}
.brankic-icon-megaphone:before {
	content: "\e6b3";
}
.brankic-icon-megaphone2:before {
	content: "\e6b4";
}
.brankic-icon-patch:before {
	content: "\e6b5";
}
.brankic-icon-pil:before {
	content: "\e6b6";
}
.brankic-icon-injection:before {
	content: "\e6b7";
}
.brankic-icon-thermometer:before {
	content: "\e6b8";
}
.brankic-icon-lamp3:before {
	content: "\e6b9";
}
.brankic-icon-lamp4:before {
	content: "\e6ba";
}
.brankic-icon-lamp5:before {
	content: "\e6bb";
}
.brankic-icon-cube:before {
	content: "\e6bc";
}
.brankic-icon-box:before {
	content: "\e6bd";
}
.brankic-icon-box2:before {
	content: "\e6be";
}
.brankic-icon-diamond:before {
	content: "\e6bf";
}
.brankic-icon-bag:before {
	content: "\e6c0";
}
.brankic-icon-money-bag:before {
	content: "\e6c1";
}
.brankic-icon-grid:before {
	content: "\e6c2";
}
.brankic-icon-grid2:before {
	content: "\e6c3";
}
.brankic-icon-list:before {
	content: "\e6c4";
}
.brankic-icon-list2:before {
	content: "\e6c5";
}
.brankic-icon-ruler:before {
	content: "\e6c6";
}
.brankic-icon-ruler2:before {
	content: "\e6c7";
}
.brankic-icon-layout:before {
	content: "\e6c8";
}
.brankic-icon-layout2:before {
	content: "\e6c9";
}
.brankic-icon-layout3:before {
	content: "\e6ca";
}
.brankic-icon-layout4:before {
	content: "\e6cb";
}
.brankic-icon-layout5:before {
	content: "\e6cc";
}
.brankic-icon-layout6:before {
	content: "\e6cd";
}
.brankic-icon-layout7:before {
	content: "\e6ce";
}
.brankic-icon-layout8:before {
	content: "\e6cf";
}
.brankic-icon-layout9:before {
	content: "\e6d0";
}
.brankic-icon-layout10:before {
	content: "\e6d1";
}
.brankic-icon-layout11:before {
	content: "\e6d2";
}
.brankic-icon-layout12:before {
	content: "\e6d3";
}
.brankic-icon-layout13:before {
	content: "\e6d4";
}
.brankic-icon-layout14:before {
	content: "\e6d5";
}
.brankic-icon-tools:before {
	content: "\e6d6";
}
.brankic-icon-screwdriver:before {
	content: "\e6d7";
}
.brankic-icon-paint:before {
	content: "\e6d8";
}
.brankic-icon-hammer:before {
	content: "\e6d9";
}
.brankic-icon-brush:before {
	content: "\e6da";
}
.brankic-icon-pen:before {
	content: "\e6db";
}
.brankic-icon-chat:before {
	content: "\e6dc";
}
.brankic-icon-comments:before {
	content: "\e6dd";
}
.brankic-icon-chat2:before {
	content: "\e6de";
}
.brankic-icon-chat3:before {
	content: "\e6df";
}
.brankic-icon-volume:before {
	content: "\e6e0";
}
.brankic-icon-volume2:before {
	content: "\e6e1";
}
.brankic-icon-volume3:before {
	content: "\e6e2";
}
.brankic-icon-equalizer:before {
	content: "\e6e3";
}
.brankic-icon-resize:before {
	content: "\e6e4";
}
.brankic-icon-resize2:before {
	content: "\e6e5";
}
.brankic-icon-stretch:before {
	content: "\e6e6";
}
.brankic-icon-narrow:before {
	content: "\e6e7";
}
.brankic-icon-resize3:before {
	content: "\e6e8";
}
.brankic-icon-download3:before {
	content: "\e6e9";
}
.brankic-icon-calculator:before {
	content: "\e6ea";
}
.brankic-icon-library:before {
	content: "\e6eb";
}
.brankic-icon-auction:before {
	content: "\e6ec";
}
.brankic-icon-justice:before {
	content: "\e6ed";
}
.brankic-icon-stats:before {
	content: "\e6ee";
}
.brankic-icon-stats2:before {
	content: "\e6ef";
}
.brankic-icon-attachment:before {
	content: "\e6f0";
}
.brankic-icon-hourglass:before {
	content: "\e6f1";
}
.brankic-icon-abacus:before {
	content: "\e6f2";
}
.brankic-icon-pencil:before {
	content: "\e6f3";
}
.brankic-icon-pen2:before {
	content: "\e6f4";
}
.brankic-icon-pin:before {
	content: "\e6f5";
}
.brankic-icon-pin2:before {
	content: "\e6f6";
}
.brankic-icon-discout:before {
	content: "\e6f7";
}
.brankic-icon-edit:before {
	content: "\e6f8";
}
.brankic-icon-scissors:before {
	content: "\e6f9";
}
.brankic-icon-profile:before {
	content: "\e6fa";
}
.brankic-icon-profile2:before {
	content: "\e6fb";
}
.brankic-icon-profile3:before {
	content: "\e6fc";
}
.brankic-icon-rotate:before {
	content: "\e6fd";
}
.brankic-icon-rotate2:before {
	content: "\e6fe";
}
.brankic-icon-reply:before {
	content: "\e6ff";
}
.brankic-icon-forward:before {
	content: "\e700";
}
.brankic-icon-retweet:before {
	content: "\e701";
}
.brankic-icon-shuffle:before {
	content: "\e702";
}
.brankic-icon-loop:before {
	content: "\e703";
}
.brankic-icon-crop:before {
	content: "\e704";
}
.brankic-icon-square:before {
	content: "\e705";
}
.brankic-icon-square2:before {
	content: "\e706";
}
.brankic-icon-circle:before {
	content: "\e707";
}
.brankic-icon-dollar:before {
	content: "\e708";
}
.brankic-icon-dollar2:before {
	content: "\e709";
}
.brankic-icon-coins:before {
	content: "\e70a";
}
.brankic-icon-pig:before {
	content: "\e70b";
}
.brankic-icon-bookmark:before {
	content: "\e70c";
}
.brankic-icon-bookmark2:before {
	content: "\e70d";
}
.brankic-icon-address-book:before {
	content: "\e70e";
}
.brankic-icon-address-book2:before {
	content: "\e70f";
}
.brankic-icon-safe:before {
	content: "\e710";
}
.brankic-icon-envelope:before {
	content: "\e711";
}
.brankic-icon-envelope2:before {
	content: "\e712";
}
.brankic-icon-radio-active:before {
	content: "\e713";
}
.brankic-icon-music:before {
	content: "\e714";
}
.brankic-icon-presentation:before {
	content: "\e715";
}
.brankic-icon-male:before {
	content: "\e716";
}
.brankic-icon-female:before {
	content: "\e717";
}
.brankic-icon-aids:before {
	content: "\e718";
}
.brankic-icon-heart:before {
	content: "\e719";
}
.brankic-icon-info:before {
	content: "\e71a";
}
.brankic-icon-info2:before {
	content: "\e71b";
}
.brankic-icon-piano:before {
	content: "\e71c";
}
.brankic-icon-rain:before {
	content: "\e71d";
}
.brankic-icon-snow:before {
	content: "\e71e";
}
.brankic-icon-lightning:before {
	content: "\e71f";
}
.brankic-icon-sun:before {
	content: "\e720";
}
.brankic-icon-moon:before {
	content: "\e721";
}
.brankic-icon-cloudy:before {
	content: "\e722";
}
.brankic-icon-cloudy2:before {
	content: "\e723";
}
.brankic-icon-car:before {
	content: "\e724";
}
.brankic-icon-bike:before {
	content: "\e725";
}
.brankic-icon-truck:before {
	content: "\e726";
}
.brankic-icon-bus:before {
	content: "\e727";
}
.brankic-icon-bike2:before {
	content: "\e728";
}
.brankic-icon-plane:before {
	content: "\e729";
}
.brankic-icon-paper-plane:before {
	content: "\e72a";
}
.brankic-icon-rocket:before {
	content: "\e72b";
}
.brankic-icon-book:before {
	content: "\e72c";
}
.brankic-icon-book2:before {
	content: "\e72d";
}
.brankic-icon-barcode:before {
	content: "\e72e";
}
.brankic-icon-barcode2:before {
	content: "\e72f";
}
.brankic-icon-expand:before {
	content: "\e730";
}
.brankic-icon-collapse:before {
	content: "\e731";
}
.brankic-icon-pop-out:before {
	content: "\e732";
}
.brankic-icon-pop-in:before {
	content: "\e733";
}
.brankic-icon-target:before {
	content: "\e734";
}
.brankic-icon-badge:before {
	content: "\e735";
}
.brankic-icon-badge2:before {
	content: "\e736";
}
.brankic-icon-ticket:before {
	content: "\e737";
}
.brankic-icon-ticket2:before {
	content: "\e738";
}
.brankic-icon-ticket3:before {
	content: "\e739";
}
.brankic-icon-microphone4:before {
	content: "\e73a";
}
.brankic-icon-cone:before {
	content: "\e73b";
}
.brankic-icon-blocked:before {
	content: "\e73c";
}
.brankic-icon-stop:before {
	content: "\e73d";
}
.brankic-icon-keyboard:before {
	content: "\e73e";
}
.brankic-icon-keyboard2:before {
	content: "\e73f";
}
.brankic-icon-radio2:before {
	content: "\e740";
}
.brankic-icon-printer:before {
	content: "\e741";
}
.brankic-icon-checked:before {
	content: "\e742";
}
.brankic-icon-error:before {
	content: "\e743";
}
.brankic-icon-add:before {
	content: "\e744";
}
.brankic-icon-minus3:before {
	content: "\e745";
}
.brankic-icon-alert:before {
	content: "\e746";
}
.brankic-icon-pictures3:before {
	content: "\e747";
}
.brankic-icon-atom:before {
	content: "\e748";
}
.brankic-icon-eyedropper:before {
	content: "\e749";
}
.brankic-icon-globe:before {
	content: "\e74a";
}
.brankic-icon-globe2:before {
	content: "\e74b";
}
.brankic-icon-shipping:before {
	content: "\e74c";
}
.brankic-icon-ying-yang:before {
	content: "\e74d";
}
.brankic-icon-compass:before {
	content: "\e74e";
}
.brankic-icon-zip:before {
	content: "\e74f";
}
.brankic-icon-zip2:before {
	content: "\e750";
}
.brankic-icon-anchor:before {
	content: "\e751";
}
.brankic-icon-locked-heart:before {
	content: "\e752";
}
.brankic-icon-magnet:before {
	content: "\e753";
}
.brankic-icon-navigation:before {
	content: "\e754";
}
.brankic-icon-tags:before {
	content: "\e755";
}
.brankic-icon-heart2:before {
	content: "\e756";
}
.brankic-icon-heart3:before {
	content: "\e757";
}
.brankic-icon-usb:before {
	content: "\e758";
}
.brankic-icon-clipboard:before {
	content: "\e759";
}
.brankic-icon-clipboard2:before {
	content: "\e75a";
}
.brankic-icon-clipboard3:before {
	content: "\e75b";
}
.brankic-icon-switch2:before {
	content: "\e75c";
}
.brankic-icon-ruler3:before {
	content: "\e75d";
}
