body {
	background: $color__white; /* Fallback for when there is no custom background color defined. */
	word-wrap: break-word;
	overflow-x: hidden;
}

q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

blockquote {
	border: 0;
	padding: 0;
	margin-left: 0 !important;
	font-family: $font__heading;
	font-style: italic;
	font-size: $heading__four;
	position: relative;
	border-left: 0 none;
	color: #939292;
	p {
		margin-bottom: 15px;
		position: relative;
		line-height: 1.75em !important;
		&:last-child {
			margin-bottom: 0;
		}
		cite {
			margin-left: 0;
			padding-left: 0;
			margin-top: 15px;
		}
	}
	footer {
		font-family: $font__body;
		margin-left: 0;
		position: relative;
	}
	cite, a, span {
		font-size: 0.8em;
		font-weight: 500;
		font-style: normal;
		position: relative;
	}
	cite {
		display: block;
	}
	&.wp-block-pullquote {
		border-left: 0 none;
		color: #939292;
	}
}
.wp-block-pullquote {
	blockquote {
		border-left: 0 none !important;
		margin: 0;
	}
}
blockquote .small::before,
blockquote footer::before,
blockquote small::before {
	margin-left: 0;
} 
blockquote .more-link {
	font-family: $font__body;
}
@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure.wp-block-pullquote {
	margin-bottom: 15px;
}

@import "tables";

.devider {
	padding: 0 15px;
}
/* Some border */
.small-border {
    display: block;
    height: 2px;
    margin: 0.5em 0.8em;
    width: 90px;
}
.ex-small-border {
    display: block;
    height: 1px;
    margin: 0.5em auto 0.8em;
    width: 200px;
    background: $color__border-dark;
    position: relative;
    &:after {
		content: "";
		height: 3px;
		left: 50%;
		margin-left: -38px;
		position: absolute;
		top: -1px;
		width: 80px;
    }	
}

[data-bg-image] {
    background-size: cover;
    background-position: 50%;
}

.ts-background {
	bottom: 0;
	left: 0;
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: -2;
}
.ts-overlay {
	&:before {
		content: "";
		position: absolute;
		background-color: rgba(#000000 ,0.5);
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
	}
}

.ts-background-image {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50%;
    height: 100%;
    overflow: hidden;
    width: 100%;
}