.contact-page {
	.header-title {
		margin-bottom: 30px;
	}
	.sub-heading {
		font-weight: 400;
		width: 50%;
		margin: 1.4em auto 0;
		line-height: 1.6em;
	}
	.title {
		font-style: italic;
		font-weight: bold;
		font-size: 1.25em;
	}
	.gmaps-embaded-area {
		iframe {
			width: 100% !important;
		}
	}
	#gmaps {
		height: 412px;
		background: $color__background-main;
	}
	#address-main {
		margin: auto auto 45px;
		text-align: center;
		width: 35%;
	}
	#address-main:before {
		background: #f0f0f0;
		content: "";
		height: 1px;
		left: 0;
		position: absolute;
		top: 50%;
		width: 100%;
		margin-top: -22px;
	}
	#address-main span {
		background: $color__white;
		display: inline-block;
		padding: 0 15px;
		position: relative;
		word-spacing: 2px;
	}
	.contact-details {
		padding-top: 60px;
	}
	.post img, 
	.page img {
	    max-width: none;
	}
	.entry-content {
		margin-top: -6px;
		position: relative;
	}
	.entry-content:after {
		background: #f0f0f0;
		content: "";
		height: 150px;
		position: absolute;
		right: -50px;
		top: 0;
		width: 1px;
	}
	#contact-info {
		h4 {
			border-bottom: 1px solid $color__border-four;
			padding-bottom: 0.8em;
			margin-bottom: 1.3em;
			margin-top: 0;
			font-weight: bold;
			font-size: $heading__five;
		}
		.dl-horizontal dd {
		    margin-bottom: 15px;
		    margin-left: 70px;
		    margin-right: 0;
		}
		.dl-horizontal dt {
			text-align: left;
			width: 60px;
		}
		dl {
			margin-bottom: -7px;
		}
	}
	#contact-form-wrap {
		margin-top: 45px;
	}
	.padding-left {
		padding-left: 0.5em;
	}
	.padding-right {
		padding-right: 0.5em;
	}
	.padding-left-right {
		padding: 0 0.5em;
	}
	.contact-respond {
		margin-top: 30px;
		p {
			margin-bottom: 1em;
		}
		.wpcf7-submit {
			font-size: 14px;
			padding: 20px 75px;
		}
		.form-submit {
			margin-bottom: 0;
		}
	}
	#name,
	#email,
	#subject {
		height: 45px;
	}
	span.wpcf7-not-valid-tip {
	    color: #df2626;
	    display: block;
	    font-size: 0.8em;
	    margin-bottom: -10px;
	    margin-left: 4px;
	    margin-top: 3px;
	}
	div.wpcf7-validation-errors {
		border: 1px solid #efdf35;
		color: #df2626;
	}
	div.wpcf7-mail-sent-ng {
		border: 1px solid #df2626;
	} 
	div.wpcf7-response-output {
		padding: 0.4em 1em;
		margin: 0;
	}
	.wpcf7-mail-sent-ok {
		border-width: 1px;
	}
}