#featured {
	background-size: cover !important;
	background-position: 50% 50% !important;
	background-attachment: fixed !important;
	padding: 75px 0 115px;
	position: relative;
	overflow: hidden;
	height: 100%;
	#featured-overlay {
		background: rgba($color__black, 0.32);
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}
	#featured-content {
		margin-bottom: 73px;
	}
}
#featured-slider {
	.item {
		background-color: $color__white;
		@include prefixed(backface-visibility, hidden);
	}
	.post-media {
		@include prefixed(backface-visibility, hidden);	
	}
	.item .post-content {
		text-align: center;
		padding: 30px;
	}
	.item .post-content .devider {
		padding: 0 10px;
	}
	.item .post-content .post-thumb img {
		@include prefixed(backface-visibility, hidden);
	}
	.item .post-content .entry-title {
		font-size: 20px;
		font-weight: bold;
		line-height: 1.5em;
		margin-top: 0;
		margin-bottom: 20px;
		position: relative;
		z-index: 100;
		overflow: hidden;
		@include prefixed(backface-visibility, hidden);
	}
	.item .post-content .more-link-wrap {
		position: relative;
		margin-top: 15px;
	}
	.item .post-content .more-link-wrap .more-link {
		background: transparent;
		text-decoration: underline;
		text-transform: uppercase;
		border-radius: 5px;
		letter-spacing: normal;
		line-height: normal;
		padding: 10px 20px;
		position: relative;
		word-spacing: normal;
		display: table;
		margin: auto;
		font-size: 13px;
		font-weight: 700;
		@include prefixed(backface-visibility, hidden);
		@include prefixed(transition, all 0.2s ease);
	}
	.owl-controls .owl-nav div {
		position: absolute;
		top: 50%;
		@include prefixed(transform, translateY(-50%));
		@include prefixed(transition, color 0.25s ease);
		background: $color__white;
		line-height: normal;
		padding: 30px 12px;
		font-size: 25px;
	}
	.owl-controls .owl-nav .owl-prev {
		left: -60px;
	}
	.owl-controls .owl-nav .owl-next {
		right: -60px;
	}
}
.owl-carousel .owl-item img {
	transform-style: inherit !important;
}
.owl-carousel .owl-item {
	transform-style: inherit !important;
}