/*--------------------------------------------------------------
# Footer Top
--------------------------------------------------------------*/
#footer-top {
	background: $color__white;
	.widget {
		background: transparent;
		border: 0;
		padding: 0;
		margin: 45px 0;
		.widget-title-area {
			margin-bottom: 0.2em;
			overflow: hidden;
		}
		.widget-title {
			background: transparent;
		   	font-weight: bold;
		    margin: 0 0 20px;
			padding: 0;
			&:before, &:after {
				background: $color__border-four;
				content: "";
				height: 1px;
				margin-top: -1px;
				position: absolute;
				top: 50%;
			}
			span {
				background: $color__white;
				position: relative;
				top: -2px;
				z-index: 10;
				font-weight: bold;
				&:before, &:after {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					font-size: 15px;
					margin-top: 1px;
				}
				&:before {
					margin-right: 10px;
					content: "\e603";
					font-family: 'glimmer';
					left: -4em;
				}
				&:after {
					margin-left: 10px;
					content: "\e600";
					font-family: 'glimmer';
					right: -4em;
				}
			}
		}
		&.widget_instagram_blocks {
			> ul > li {
				border-bottom: 0 none !important;
				margin-bottom: 0.25rem;
			}
			> ul.columns-layout-12 {
				@media (min-width: 576px) {			
				    -webkit-column-count: 12;
				    -moz-column-count: 12;
				    column-count: 12;
				    -webkit-column-gap: 0.25rem;
				    -moz-column-gap: 0.25rem;
				    column-gap: 0.25rem;
				}
				@media (max-width: 575px) {
					-webkit-column-count: 2;
					-moz-column-count: 2;
					column-count: 2;
					-webkit-column-gap: 0.25rem;
					-moz-column-gap: 0.25rem;
					column-gap: 0.25rem;
				}
			}			
			> ul.columns-layout-11 {
				@media (min-width: 576px) {			
				    -webkit-column-count: 11;
				    -moz-column-count: 11;
				    column-count: 11;
				    -webkit-column-gap: 0.25rem;
				    -moz-column-gap: 0.25rem;
				    column-gap: 0.25rem;
				}
				@media (max-width: 575px) {
					-webkit-column-count: 2;
					-moz-column-count: 2;
					column-count: 2;
					-webkit-column-gap: 0.25rem;
					-moz-column-gap: 0.25rem;
					column-gap: 0.25rem;
				}
			}			
			> ul.columns-layout-10 {
				@media (min-width: 576px) {			
				    -webkit-column-count: 10;
				    -moz-column-count: 10;
				    column-count: 10;
				    -webkit-column-gap: 0.25rem;
				    -moz-column-gap: 0.25rem;
				    column-gap: 0.25rem;
				}
				@media (max-width: 575px) {
					-webkit-column-count: 2;
					-moz-column-count: 2;
					column-count: 2;
					-webkit-column-gap: 0.25rem;
					-moz-column-gap: 0.25rem;
					column-gap: 0.25rem;
				}
			}			
			> ul.columns-layout-9 {
				@media (min-width: 576px) {			
				    -webkit-column-count: 9;
				    -moz-column-count: 9;
				    column-count: 9;
				    -webkit-column-gap: 0.25rem;
				    -moz-column-gap: 0.25rem;
				    column-gap: 0.25rem;
				}
				@media (max-width: 575px) {
					-webkit-column-count: 2;
					-moz-column-count: 2;
					column-count: 2;
					-webkit-column-gap: 0.25rem;
					-moz-column-gap: 0.25rem;
					column-gap: 0.25rem;
				}
			}			
			> ul.columns-layout-8 {
				@media (min-width: 576px) {			
				    -webkit-column-count: 8;
				    -moz-column-count: 8;
				    column-count: 8;
				    -webkit-column-gap: 0.25rem;
				    -moz-column-gap: 0.25rem;
				    column-gap: 0.25rem;
				}
				@media (max-width: 575px) {
					-webkit-column-count: 2;
					-moz-column-count: 2;
					column-count: 2;
					-webkit-column-gap: 0.25rem;
					-moz-column-gap: 0.25rem;
					column-gap: 0.25rem;
				}
			}			
			> ul.columns-layout-7 {
				@media (min-width: 576px) {			
				    -webkit-column-count: 7;
				    -moz-column-count: 7;
				    column-count: 7;
				    -webkit-column-gap: 0.25rem;
				    -moz-column-gap: 0.25rem;
				    column-gap: 0.25rem;
				}
				@media (max-width: 575px) {
					-webkit-column-count: 2;
					-moz-column-count: 2;
					column-count: 2;
					-webkit-column-gap: 0.25rem;
					-moz-column-gap: 0.25rem;
					column-gap: 0.25rem;
				}
			}			
			> ul.columns-layout-6 {
				@media (min-width: 576px) {			
				    -webkit-column-count: 6;
				    -moz-column-count: 6;
				    column-count: 6;
				    -webkit-column-gap: 0.25rem;
				    -moz-column-gap: 0.25rem;
				    column-gap: 0.25rem;
				}
				@media (max-width: 575px) {
					-webkit-column-count: 2;
					-moz-column-count: 2;
					column-count: 2;
					-webkit-column-gap: 0.25rem;
					-moz-column-gap: 0.25rem;
					column-gap: 0.25rem;
				}
			}			
			> ul.columns-layout-5 {
				@media (min-width: 576px) {			
				    -webkit-column-count: 5;
				    -moz-column-count: 5;
				    column-count: 5;
				    -webkit-column-gap: 0.25rem;
				    -moz-column-gap: 0.25rem;
				    column-gap: 0.25rem;
				}
				@media (max-width: 575px) {
					-webkit-column-count: 2;
					-moz-column-count: 2;
					column-count: 2;
					-webkit-column-gap: 0.25rem;
					-moz-column-gap: 0.25rem;
					column-gap: 0.25rem;
				}
			}			
			> ul.columns-layout-4 {
				@media (min-width: 576px) {			
				    -webkit-column-count: 4;
				    -moz-column-count: 4;
				    column-count: 4;
				    -webkit-column-gap: 0.25rem;
				    -moz-column-gap: 0.25rem;
				    column-gap: 0.25rem;
				}
				@media (max-width: 575px) {
					-webkit-column-count: 2;
					-moz-column-count: 2;
					column-count: 2;
					-webkit-column-gap: 0.25rem;
					-moz-column-gap: 0.25rem;
					column-gap: 0.25rem;
				}
			}			
			> ul.columns-layout-3 {
				@media (min-width: 576px) {			
				    -webkit-column-count: 3;
				    -moz-column-count: 3;
				    column-count: 3;
				    -webkit-column-gap: 0.25rem;
				    -moz-column-gap: 0.25rem;
				    column-gap: 0.25rem;
				}
				@media (max-width: 575px) {
					-webkit-column-count: 2;
					-moz-column-count: 2;
					column-count: 2;
					-webkit-column-gap: 0.25rem;
					-moz-column-gap: 0.25rem;
					column-gap: 0.25rem;
				}
			}			
			> ul.columns-layout-2 {
				@media (min-width: 576px) {			
				    -webkit-column-count: 2;
				    -moz-column-count: 2;
				    column-count: 2;
				    -webkit-column-gap: 0.25rem;
				    -moz-column-gap: 0.25rem;
				    column-gap: 0.25rem;
				}
				@media (max-width: 575px) {
					-webkit-column-count: 2;
					-moz-column-count: 2;
					column-count: 2;
					-webkit-column-gap: 0.25rem;
					-moz-column-gap: 0.25rem;
					column-gap: 0.25rem;
				}
			}			
			> ul.columns-layout-1 {
				@media (min-width: 576px) {			
				    -webkit-column-count: 1;
				    -moz-column-count: 1;
				    column-count: 1;
				    -webkit-column-gap: 0;
				    -moz-column-gap: 0;
				    column-gap: 0;
				}
				@media (max-width: 575px) {
					-webkit-column-count: 1;
					-moz-column-count: 1;
					column-count: 1;
					-webkit-column-gap: 0;
					-moz-column-gap: 0;
					column-gap: 0;
				}
			}
		}
	}
}
.site-footer {
	.col-md-12 {
		.widget:first-of-type.jr-insta-slider {
			margin-top: 0 !important;
		}
	}
}
/*--------------------------------------------------------------
# Footer Middle
--------------------------------------------------------------*/
#footer-middle {
	background: $header__footer-bg;
	.widget {
		background: transparent;
		border: none;
		padding-top: 0;
		padding-bottom: 0;
		margin: 75px 0;
		padding: 0;
		.widget-title {
			text-align: left;
			padding: 0;
			font-weight: 700;
			background: transparent;
			margin-bottom: 30px;
			font-size: 18px;
			letter-spacing: 0;
			word-spacing: 0;
			&:before {
				background: transparent;
			}

			> span {
				background: transparent;
				padding: 0;
			}
		}
		.widget-title:before,
		.widget-title:after {
			content: "";
		}
	}
	ul li {
		border-color: #2d2d2d1a;
		font-weight: 600;
	}
	table,
	td, 
	th, 
	td {
		border-color: #bfbfbf;
	}
	.widget .widget-title::before, 
	.widget .widget-title::after {
		border-color: $color__border-five; 
	}
	.widget_tag_cloud .tagcloud a {
		color: $color__footer;
		&:hover {
			color: $color__white;
		}
	}
	.follow-us-area .follow-link .fa {
		border-color: $color__border-five;
	}
	.widget_categories ul li, 
	.widget_archive ul li {
		color: $color__footer;
	}
	.widget_categories ul li .count, 
	.widget_archive ul li .count {
		background: transparent !important;
  		border: 0 none !important;
	}
	.form-controller {
		border-color: $color__border-five;
		background: transparent;
	} 
}

/*--------------------------------------------------------------
# Footer Bottom
--------------------------------------------------------------*/
#footer-bottom {
	color: $color__footer;
	font-size: 12px;
    padding: 12px 0;
    text-align: center;
    letter-spacing: 0.1em;
	.copyright {
		p {
			margin-bottom: 0;
			word-spacing: 0.05em;
		}
		a {
			color: inherit;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	.footer-social {
		margin-top: 12px;
		> a {
			padding: 0 8px;
		}
	}
}
/*--------------------------------------------------------------
# Scroll Top
--------------------------------------------------------------*/
.topbutton {
	background: $color__white;
	border: 1px solid;
	bottom: 50px;
	display: block;
	height: 40px;
	line-height: 40px;
	position: fixed;
	right: 20px;
	text-align: center;
	width: 40px;
	@include prefixed(border-radius, 50px);
	@include prefixed(transition, all .3s);
}

.btn-show {
    opacity: 1;
    @include prefixed(transform, translateY(0));
}

.btn-hide {
    opacity: 0;
     @include prefixed(transform, translateY(40px));
}