/*--------------------------------------------------------------
# Pre-Loader
--------------------------------------------------------------*/
.preloader {
    background: $color__white; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    z-index: 999999;
    .loader {
        top: 40%;
        position: relative;  
        i {
            font-size: 3em;
        }       
    }
}
.preloader-logo {
    position: relative;
    top: 20%;
    img {
        margin: auto;
    }
}

/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/
#header-top {
    background: $color__white;
    padding: 5px 0;
    .header-search {
        float: left;
    }
    .header-search .form-control {
        border: 0 none;
        border-radius: 0;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
    }
    .header-social {
        float: right;
    }
    .header-social > a {
        line-height: 35px;
        font-size: 14px;
        padding: 0 5px;
    }
    .header-social > a:last-child {
        padding-right: 0;
    }
}

#header-middle {
    background: $header__footer-bg;
    padding: 75px 0 75px;
    position: relative;
    .row {
        text-align: center;
    }
    > .container > .row {
        > div:only-child {
            float: none !important;
            margin: auto !important;
        }
    }
    #nav-left {
        float: left;
        margin-top: 73px;
        width: 33.5%;
    }
    #site-logo {
        float: left;
        width: 29.5%;
        margin-left: 25px;
        display: inline-block;
    }
    #site-logo:not(.no-left-right-menu) img {
        max-width: 310px;
    }
    #nav-right {
        float: right;
        margin-top: 73px;
        width: 33.5%;
    }
}
.header-content {
    text-align: center;
    clear: both;
    display: block;
    position: relative;
    border-bottom: 1px solid $color__border-dark-two;
    .site-branding {
        padding: 75px 0;
    }
    .site-logo {
        display: inline-block;
        position: relative;
        z-index: 5;
        img {
            max-width: 100%;
        }
    }
    .site-logo {
        max-width: 50%;
    }
    .search-social {
        display: inline-block;
        height: 60px;
        position: absolute;
    }
}
.search-social .search {
    display: inline-block;
    float: right;
}
.search.default {
    max-width: 200px;
}
.search.default button, 
.search.dropdown .btn {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
    outline: none;
    transition: all 0.2s ease 0s;
}
.search.default i, 
.search.dropdown .btn i {
    color: #6b6d6d;
    font-size: 15px;
}

.site-branding {
    .site-title {
        margin-bottom: 0;
        font-weight: bold;
    }
    .site-description {
        margin-bottom: 0;
    }
}