/*--------------------------------------------------------------
# About widget
--------------------------------------------------------------*/
.about-widget {
	.author-image-home {
		height: 220px;
		margin: auto;
		overflow: hidden;
		width: 220px;
		border-radius: 100%;
		img {
			width: 100%;
			height: auto;
		}
	}
	.author-name {
		text-align: center;
		font-family: $font__heading;
		margin: 18px 0 16px;
		font-size: $heading__three;
	}
	.about-description {
		font-family: $font__body;
		text-align: center;
		p {
			margin-bottom: 2em;
			font-size: 14px;
			line-height: 1.6em;
		}
	}
	.more-link {
		padding: 0;
		margin-top: 0;
		margin-bottom: 10px;
		background: transparent !important;
		position: relative;
		color: $color__black;
		overflow: visible;
	}
	.more-link:after {
		content: "";
		height: 2px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 25px;
		transition: width 0.3s ease 0s;
		width: 35px;
	}
	.more-link:hover:after {
		width: 50px;
	}
}
/*--------------------------------------------------------------
# Popular, Latest Post, Recent Comment widget
--------------------------------------------------------------*/
.feed-wrapper {
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    .image-area {
        width: 65px;
        float: left;
        margin-right: 20px;
        .fit-img {
            position: relative;
            overflow: hidden;
            padding-top: 100%;
            @include prefixed(transform,translateZ(0));
        }
        > a > img {
        	width: 66px;
        	height: 66px;
        }
    }
    .item-text {
        position: absolute;
        display: inline-block;
        color: $color__meta;
        h5 {
            margin-top: 0;
            margin-bottom: 2px;
            font-size: 15px;
            line-height: 1.4em;
            display: block;
            max-height: 2.8em;
            overflow: hidden;
        }
    }
    .item-meta {
        font-family: $font__body;
        font-size: 11px;
        font-style: italic;
        word-spacing: 0.1em;
        margin: 0 2px;
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .fit-img img {
        position: absolute!important;
        width: 100%;
        height: 100%;
        max-width: none!important;
        top: 50%;
        left: 50%;
        @include prefixed(transform,translate(-50%, -50%));
    }
    &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border: 0 none;
    }
}
/*--------------------------------------------------------------
# Categories And Archive Widget
--------------------------------------------------------------*/
.widget_categories,
.widget_archive {
	ul li {
		font-size: 15px;
		color: $color__black;
		display: block;
		line-height: 1em;
		padding-top: 18px;
		margin-top: 20px;
		border-top: 1px solid $color__border-one;
		border-bottom: 0 none !important;
		@include prefixed(transition, all .25s ease-in 0s);
		position: relative;
		ul {
			padding-left: 15px;
		}
		.count {
			position: absolute;
			right: 0;
			top: 12px;
			padding: 5px 10px 10px;
			font-weight: bold;
		}
	}
	> ul > li:first-child {
		border: 0 none;
		padding-top: 0;
		margin-top: 0;
		> .count {
			top: -6px;
		}
	} 
}

/*--------------------------------------------------------------
# TagCloud Widget
--------------------------------------------------------------*/
.widget_tag_cloud {
	.tagcloud {
		margin-bottom: -2px;
		a {
			border: 1px solid $color__border-two;
			display: block;
			color: $color__black;
			float: left;
			font-size: 15px !important;
			font-weight: normal;
			line-height: 1.4em !important;
			margin-bottom: 5px;
			margin-right: 5px;
			padding: 6px 17px;
			position: relative;
			text-decoration: none;
			white-space: nowrap;
			@include prefixed(transform, translateZ(0));
			@include prefixed(backface-visibility, hidden);
			@include prefixed(transition, all 0.2s linear 0s);
			&:hover {
				color: $color__white;
			}
		}
	}
}

/*--------------------------------------------------------------
# Follow Us Widget
--------------------------------------------------------------*/
.follow-us-area {
	margin: 0 auto -7px;
	text-align: center;
	.follow-link .fa {
		border: 1px solid $color__border-two;
		color: $color__meta;
		height: 35px;
		line-height: 2.8em;
		margin: 0 3px 9px;
		font-size: 0.8em;
		display: inline-block;
		text-align: center;
		width: 35px;
		@include prefixed(border-radius, 50px);
		&:hover {
			color: $color__white;
		}
	}
}

/*--------------------------------------------------------------
# Search Widget
--------------------------------------------------------------*/
.widget_search {
	.input-group .form-controller {
		display: table-cell;
		font-family: $font__body;
	}
	.form-controller {
		height: 43px;
	}
	button {
		@include prefixed(border-radius, 0);
		padding: 0.75em 1em;
	}
	.btn-search {
		i {
			position: relative;
			top: -1px;
			vertical-align: middle;
		}
	}
}

/*--------------------------------------------------------------
# Calender Widget
--------------------------------------------------------------*/
.widget_calendar {
	table {
		margin: 0;
	}
	td,
	th {
		font-size: 0.8em;
		line-height: 2.555em;
		text-align: center;
		padding: 0;
	}	
	caption {
		font-weight: bold;
		text-align: center;
		color: $color__white;
		margin: 0;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		padding: 0.5em 1em;
	}
	tbody a {
		-webkit-tap-highlight-color: rgba($color__white, 0.3);
		color: $color__white;
		display: block;
		font-weight: bold;
		&:hover, &:focus {
			color: $color__white;
		}
	}
}

/*------------------------------------------------------------------------
# Links, Meta, NavMenu, Pages, Recent Comment, Recent Entries  Widget
-------------------------------------------------------------------------*/
.widget_links a,
.widget_meta a,
.widget_nav_menu .menu a,
.widget_pages a,
.widget_recent_comments a,
.widget_recent_entries a {
	border: 0;
}
.widget_recent_comments {
	.recentcomments a {
		&:nth-child(2), 
		&:nth-child(3),
		&:nth-child(4) {
			&:before {
				content: "";
				margin-right: 0;
			}
		}
	}
}
.widget_links,
.widget_meta,
.widget_nav_menu,
.widget_pages,
.widget_recent_comments,
.widget_recent_entries {
	font-size: 15px;
	a {
		border: 0;
		text-decoration: none;
	}
	ul {
		list-style: none;
		margin: 0;
		li {
			margin-top: 10px;
			padding-top: 10px;
			border-top: 1px dotted $color__border-two;
			border-bottom: 0 none;
			span:before,
			a:before {
				content: "\f054";
				font-family: FontAwesome;
				margin-right: 1em;
				font-size: 0.55em;
				vertical-align: middle;
				position: relative;
				top: -1.5px;
				left: 0;
				@include prefixed(transition, left 0.35s ease-in);
			}
			span > a:before {
				content: "";
				margin-right: 0;
			}
			span:hover,
			a:hover {
				&:before {
					left: 5px;
				}
			}
		}	
	}
	> ul > li:first-child {
		margin-top: 0;
		padding-top: 0;
		border-top: 0 none;
	}
}

.widget_nav_menu .sub-menu,
.widget_pages .children {
	border: 0;
	margin: 0 0 0 1em;
}
.widget_recent_entries .post-date {
	display: block;
}

/*--------------------------------------------------------------
# RSS Widget
--------------------------------------------------------------*/
.widget_rss {
	ul {
		list-style: none;
		margin: 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
	li {
		margin-bottom: 1.6em;
		&:last-child {
			margin-bottom: 0;		
		}
	}
	.rsswidget {
		border: 0;
		font-weight: 700;
	}
	.rsswidget img {
		margin-top: -4px;
	}
	.rss-date, cite {
		font-size: 0.8em;
		font-style: normal;
		display: block;
		line-height: 2;
		opacity: 0.8;
	}
}

/*--------------------------------------------------------------
# Text Widget
--------------------------------------------------------------*/
.widget_text {
	img {
		margin: auto;
		display: block;
	}
}
.textwidget > :last-child {
	margin-bottom: 0;
}

.widget-about {
	text-align: center;
	p {
		margin-bottom: 20px;
	}
	p > img {
		max-width: 245px;
		margin: auto;
	}
}

/*--------------------------------------------------------------
# Twitter Widget Plugin
--------------------------------------------------------------*/
.timeline {
	background: transparent !important;
}
.customisable-border {
	border: 0 none !important;
}
/*--------------------------------------------------------------
# Email Subscribe Widget
--------------------------------------------------------------*/
.newsletter-area {
	font-family: $font__body;
	margin-top: -8px;
	> p {
		margin-bottom: 15px;
	}
	.form-newsletter {
		p {
			margin-bottom: 10px;
		}
		.form-controller {
			background: transparent;
			border-color: $color__border-three !important;
			font-style: italic;
			height: 45px;
		}
		.btn {
			border: none;
		}
		.pad-left {
			padding-left: 5px;
		}
		.pad-right {
			padding-right: 5px;
		}
		#mc-embedded-subscribe {
			background: transparent;
			color: $color__heading;
			position: relative;
			text-transform: uppercase;
			border: 0 none;
			font-size: 12px;
			font-weight: bold;
			letter-spacing: 1px;
			word-spacing: 3px;
			&:hover, &:focus, &:active:focus {
				text-decoration: none !important;
				outline: none;
				background: transparent;
				@include prefixed(box-shadow,inset 0 0px 0px rgba(0, 0, 0, 0)); 
			}
		}
		#mc-embedded-subscribe:after {
			content: "";
			height: 2px;
			left: 0;
			margin: auto;
			overflow: visible;
			position: absolute;
			right: 0;
			top: 35px;
			width: 45px;
			@include prefixed(transition, width 0.3s ease 0s);
		}
		#mc-embedded-subscribe:hover:after {
			width: 75px;
		}
		.mce_inline_error {
			margin-bottom: 8px;
			color: #aa1515;
			font-size: 13px;
			&.form-controller {
				margin-bottom: 0;
			}
		}
	}
	#mce-success-response {
		margin-top: 10px;
		color: green;
		font-size: 13px;
	}
	.mc-response{
		margin-top: 10px;
		font-size: 13px;
	}
}
/*--------------------------------------------------------------
# Glimmer Login form
--------------------------------------------------------------*/
.widget_glimmer_login_form {
	.glimmer-login-form {
		.login-username,
		.login-password {
			margin-bottom: 15px !important;
		}
		.lost-pass {
			margin-bottom: 0 !important;
		}
		.login-username label, 
		.login-password label {
			margin-left: 1px;
		}
		.login-username #user_login,
		.login-password #user_pass {
			margin-top: 5px;
			background: $color__white;
			border: 1px solid $color__border-one;
			font-size: 13px;
			outline: medium none;
			padding: 0.5em 1em;
			width: 100%;
		}
		.login-remember #rememberme {
			margin-right: 5px;
		}
		.login-submit {
			margin-bottom: 15px !important;
		}		
		.login-submit #wp-submit{
			padding: 10px 30px;	
		}
		.glimmer-login-board .left-thumb {
			float: left;
			margin-right: 20px;
			width: 90px;
		}
		.glimmer-login-board .right-details	{
			font-size: 13px;
			font-family: $font__body;
		}	
		.glimmer-login-board .right-details > p {
			margin-bottom: 2px;
		}		
		.glimmer-login-board .right-details > p strong {
			margin-left: 4px;
		}		
		.glimmer-login-board .right-details > a {
			display: block;
		    margin-bottom: 2px;
		}
		.glimmer-login-board .right-details > a:last-child {
			margin-bottom: 0;
		}		
		.glimmer-login-board .right-details .dashboard-link,
		.glimmer-login-board .right-details .your-profile {
			margin-bottom: 2px;
		}
		.glimmer-login-board .right-details i {
			line-height: normal;
			margin-right: 8px;
		}
	}
}
/*--------------------------------------------------------------
# Flickr Widget Plugin Fix
--------------------------------------------------------------*/
ul.flickr li, 
.widget ul.flickr li {
	margin: 2px!important;
	border-bottom: none;
}
ul.flickr li,
.widget ul.flickr li {
  margin: 2px !important;
  border-bottom: none;
}
#flickr {
  padding: 3px;
}
#flickr li {
  float: left;
  height: 82px;
  list-style: outside none none;
  margin: 0 4px 4px 0;
  overflow: hidden;
  width: 94px;
}
#flickr img {
  height: 100%;
  width: 100%;
}