.hide {
    display: none;
}

/*Icons*/
.icons-live-search {
    border-bottom: 1px dashed #EAEAEA;
    margin: 0 -20px 15px;
    padding: 10px 20px;
}
.icons-live-search #sh_icons_filter {
    border-color: #F0F0F0;
    border-radius: 0;
    display: block;
    height: 32px;
    margin: auto;
    width: 270px;
    padding: 0 10px;
    line-height: 32px;
    font-weight: bold;
    color: #888;

}
.icons_wrap {
    margin: 0 -20px;
    padding: 0 20px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #E9E9E9;
}
.icons_wrap .icons_pack_title {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 15px;
    margin: 0 -20px;
    margin-bottom: 20px !important;
    border-bottom: 1px dashed #E9E9E9;
    font-family: georgia;
}
.sh_tiny_icons_wrap {
	margin-top: 15px;
}
.sh_tiny_icon i {
        font-size: 24px;
        display: inline-block;
        line-height: 42px;
        text-align: center;
        border: 1px solid #e0e0e0;
        width: 42px;
        margin-right: 5px;
	margin-bottom: 5px;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;

}
.sh_tiny_icon i:hover {
	background: #565656;
	color: #fff;
}
.sh_tiny_icon input:checked+i {
	background: #95cac5;
	color: #fff;
}
.sh_tiny_icon input {
        display: none;
}


/* ==========================================================================
 *                Modal Box
   ========================================================================== */
.sh_modal_box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    left: 15%;
    min-height: 300px;
    padding: 20px;
    position: fixed;
    right: 15%;
    bottom: 33px;
    top: 33px;
    width: auto;
    z-index: 160000;
    display: none;
}
.sh_modal_box .sh_modal_header {
    background: #FFFFFF;
    border-bottom: 1px solid #DFDFDF;
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
    height: 56px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.sh_modal_box .sh_modal_header h1 {
    font-size: 22px;
    line-height: 60px;
    margin: 0;
    padding: 0 16px;
}
.sh_modal_box .sh_modal_content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    bottom: 61px;
    height: auto;
    left: 0;
    margin: 0;
    overflow: auto;
    padding: 0 20px;
    position: absolute;
    right: 0;
    top: 56px;
    width: auto;
}
.sh_modal_box .sh_modal_footer {
    border: 0 solid #DFDFDF;
    bottom: 0;
    height: 60px;
    left: 0;
    line-height: 60px;
    overflow: hidden;
    padding: 0 16px;
    position: absolute;
    right: 0;
    text-align: right;
    z-index: 100;
}
.sh_modal_box .sh_modal_footer a {
    padding: 0 30px;
}
.sh_modal_box .sh_modal_footer a:active {
    vertical-align: inherit;
}
.sh_media_box_overlay {
    background: none repeat scroll 0 0 #000000;
    bottom: 0;
    left: 0;
    min-height: 360px;
    opacity: 0.7;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 159900;
    display: none;
}
.sh_modal_header .media-modal-close {
    text-decoration: none !important;
    margin-top: 15px !important;
    margin-right: -15px !important;
}
.media-modal-close:focus { 
    outline: none !important;
    box-shadow: none !important;
}
.sh_modal_loading {
    position: absolute;
    height: 32px;
    width: 32px;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    background: url(../../images/loading.png) no-repeat;
}

.sh_icon_prev {
  background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DFDFDF;
    display: inline-block;
    font-size: 24px;
    height: 40px;
    line-height: 40px !important;
    margin-left: 5px;
    margin-top: -2px;
    position: relative;
    text-align: center;
    width: 42px;
}
.sh_icon_prev .remove_icon {
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    color: red;
    font-size: 16px;
    line-height: 1;
}

.sh_radio_img input {
    display: none;
}
.sh_radio_img img {
    border: 1px solid transparent;
}
.sh_radio_img input:checked+img {
    border: 1px solid #0083B9;
}