h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__body;
	line-height: $font__line-height-heading;
	color: $color__heading;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  	font-weight: inherit;
}

h1 {
  	font-size: $heading__one;
  	margin: 0 0 em(30px);
}

h2 {
	font-size: $heading__two;
}

h3 {
	font-size: $heading__three;
}

h4 {
	font-size: $heading__four;
}

h5 {
	font-size: $heading__five;
}

h6 {
	font-size: $heading__six;
}

small {
	font-size: $heading__six;
} 

.font_small {
	@extend small;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
    color: inherit;
    text-decoration: none
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted $color__black;
}
.entry-content h1 {
	margin-bottom: em(10px);
}

.content-area .entry-header .entry-title {

}
.widget-title {
	font-size: em(18px);
	letter-spacing: 0.01em;
	word-spacing: 0.025em;
}
.section-title {
	font-size: 25px;
	font-family: $font__body;
	word-spacing: 5px;
    margin: 8px 0 45px;
    text-transform: uppercase;
    font-weight: bold;
	span {
		background: $color__white;
		z-index: 10;
		//padding: 0 10px;
    	position: relative;
	}
	&:after {
		background: #b1b1b1;
		top: 53px;
		content: "";
		height: 2px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		width: 50px;
	}
}
.sub-heading {

}
.author-name {

}
