/* ==========================================================================
 *                	Main Navigation
   ========================================================================== */
@media only screen and (max-width: 992px) {
    .navigation {
        display: none;
    }
}
@media only screen and (min-width: 992px) {
    .navigation {
        line-height: 45px;
        position: relative;
        z-index: 110;
        clear: both;
    }
    #nav-left .navigation, #nav-right .navigation {
        z-index: 200;
    } 
    #main-menu .navigation {
        line-height: 45px;
    }    
    #main-menu .navigation .main-menu {
        display: table;
        margin: auto;
    }
    .top-navigation {
        z-index: 115;
    }
    #header-bottom .navigation .main-menu {
        margin: 0 auto;
        display: table;
        width: auto;
    }
    .navigation.nov_white_off {
        height: 45px;
        background: 0;
    }
    .navigation.nov_white_off .main-menu > li.current-menu-item > a:before,
    .navigation.nov_white_off .main-menu > li.current-menu-ancestor > a:before {
        display: none;
    }

    .navigation-inner {
        position: relative;
    }
    .navigation-inner > .inner {
        position: relative;
    }
    .navigation ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .navigation .main-menu li:not(.sh_mega) {
        position: relative;
    }
    .navigation .main-menu > li {
        float: left;
        font-size: 13px;
    }
    .navigation .main-menu li {
        text-align: left;
    }
    .main-menu > li > a {
        display: block;
        color: #000;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.025em;
        word-spacing: 0.1em;
        padding: 10px 30px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        vertical-align: middle;
        white-space: nowrap;
        -webkit-transition: color 0.35s ease-in-out;
        transition: color 0.35s ease-in-out;
    }
    .top-navigation .main-menu > li > a {
        padding: 0 30px;
    }
    .main-menu > li > a > .devide {
        color: #c8c8c8;
    }
    #header-bottom .navigation .main-menu > li > a span.devide {
        position: absolute;
        right: -10px;
        font-size: 10px;
        top: 1px;
    }
    #header-bottom #nav-right .navigation .main-menu > li > a span.devide-left {
        position: absolute;
        left: -7px;
        font-size: 10px;
        top: 1px;
    }
    .main-menu li a,
    .sh_custom_mega {
        letter-spacing: 0;
    }
    .navigation .main-menu > li a {
        position: relative;
    }
    .navigation .main-menu > li:hover > a:before,
    .navigation .main-menu > li.current-menu-item > a:before,
    .navigation_highlight_ancestor .navigation .main-menu > li.current-menu-ancestor > a:before,
    .navigation_highlight_ancestor .navigation .main-menu > li.current-menu-parent > a:before {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -2px;
    }
    .navigation .main-menu > li:hover > a,
    .navigation .main-menu > li.current-menu-item > a,
    .navigation_highlight_ancestor .navigation .main-menu > li.current-menu-ancestor > a,
    .navigation_highlight_ancestor .navigation .main-menu > li.current-menu-parent > a {
        /*background-color: #fff;*/
    }
    .navigation .main-menu li a i {
        font-size: 13px;
        float: left;
        position: relative;
        margin-right: 5px;
        line-height: inherit;
        top: 0;
    }
    .navigation .main-menu li ul li a i {
        top: -1px;
    }
    .navigation .main-menu li a i.icon_only {
        margin: 0;
        font-size: 25px;
        float: none;
    }
    .icon_only_label {
        display: none;
    }
    .navigation ul.main-menu li .img_icon,
    .navigation ul.device-menu li .img_icon {
        width: 18px;
        height: 44px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 18px;
        display: inline-block;
        margin-top: 0;
    }
    .navigation ul.main-menu li ul.sub-menu li .img_icon {
        margin-top: -11px;
    }
    .navigation ul.main-menu li .img_icon.icon_only,
    .navigation ul.device-menu li .img_icon.icon_only {
        width: 24px;
        background-size: 24px;
    }
    .navigation ul.device-menu li.img_icon {
        height: 37px;
        vertical-align: middle;
        display: inline-block;
        margin-right: 10px;
    }
    .navigation .main-menu li a i[class*="brankic"] {
        font-size: 18px;
        margin-right: 6px;
        position: relative;
        top: -1px;
    }
    .navigation .main-menu li ul li a i[class*="brankic"] {
        top: -3px;
    }
    .navigation .main-menu li a i.icon_only[class*="brankic"] {
        margin: 0;
        font-size: 27px;
    }
    .navigation .nav-buttons {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navigation .nav-button {
        position: relative;
        float: left;
        background: #fff;
        border: 1px solid #dfdfdf;
        border-left-width: 0;
        border-top: 0;
        border-bottom: 0;
        height: 44px;
        min-width: 48px;
        text-align: center;
        font-size: 16px;
        color: #4a525d;
        cursor: pointer;
        z-index: 1001;
    }
    .navigation .nav-button a {
        color: #4a525d;
    }
    .nav-social-button i {
        font-size: 18px;
    }
    .navigation .nav-button:first-child {
        border-left-width: 1px;
    }
    .navigation .nav-button.active {
        border-bottom-color: #fff;
    }
    .navigation .nav-button.active:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background: #fff;
        left: 0;
        bottom: -1px;
    }
    .navigation .nav-button.nav-login i {
        font-size: 18px;
    }
    .navigation .nav-button.nav-cart {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-right: 6px;
        padding-top: 1px;
    }
    .navigation .nav-button.nav-cart:before {
        display: none;
    }
    .navigation .nav-button.nav-cart i {
        font-size: 18px;
        position: relative;
        top: 2px;
    }
    .navigation .nav-button.nav-cart span.numofitems {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 15px;
        height: 16px;
        line-height: 15px;
        font-size: 12px;
        text-align: center;
        background: #ffa507;
        color: #fff;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }
    .navigation ul.main-menu li.sh_mega .sh_mega_wrap ul li:last-child a {
        border-bottom: 0 none;
        padding-bottom: 0;
    }
    .navigation ul.main-menu li.sh_mega ul li {
        list-style: none;
    }
    .sh_custom_mega .megamenu-content .entry-title {
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        margin-top: 0;
    }
    .sh_custom_mega .megamenu-content.col-md-12 {
        padding: 0 !important;
    }
    .megamenu-content .post-thumb {
        margin-bottom: 0 !important;
    }
    .sh_custom_mega .megamenu-content .cat-wrap > .row {
        margin: 0 !important;
        padding: 12px 0 0 0 !important;
    }
    .sh_custom_mega .megamenu-content .cat-wrap > .row > .col-md-3 {
        padding: 0 15px !important;
        border: 0 none !important;
    }
    .sh_custom_mega .megamenu-content .cat-wrap > .row > li a {
        border: 0 none !important;
        padding: 0 !important;
    }
    .sh_custom_mega .megamenu-content .cat-wrap > .row .entry-title {
        font-size: 12px;
        margin: 10px 0 5px;
    }
    .sh_custom_mega .megamenu-content .cat-wrap > .row .entry-date {
        font-size: 10px;
    }
    .sh_custom_mega .megamenu-content .cat-wrap .view-all .fa {
        float: none !important;
    }
    .sh_custom_mega .megamenu-content .cat-wrap .view-all {
        border-top: 1px dashed #ebebeb;
        color: #3d3d3d;
        font-size: 10px;
        font-weight: bold;
        line-height: 1.5em;
        margin-bottom: -6px;
        margin-top: 20px;
        padding-bottom: 0;
        padding-top: 15px;
        text-align: center;
        text-transform: uppercase;
        word-spacing: 2px;
    }
    .sh_custom_mega .megamenu-content .cat-wrap .view-all a {
        color: #a0a0a0;
    }
    .cats-mega-wrap .sub-menu .img_icon {
        margin-top: -11px;
    }
    .show_all_results {
        text-align: center;
        margin: 0 -15px;
        margin-bottom: -15px;
        line-height: 38px;
        height: 40px;
        border-top: 1px solid #eaeaea;
        background: #f5f5f5;
    }
    .show_all_results a {
        color: #adaeaf;
    }
    .show_all_results a:hover {
        color: #000;
    }
    .show_all_results a i {
        color: #adaeaf;
        display: inline-block;
        font-size: 16px;
        margin-left: 6px;
        vertical-align: middle;
    }
    .nav-shaddow {
        background: url(../images/nav-shadow.png) no-repeat;
        width: 963px;
        height: 19px;
        margin: 0 auto;
        margin-top: -2px;
        position: relative;
        z-index: 1;
    }
    .ajax_search_results {
        line-height: normal;
    }
    .ajax_search_results .sw-not_found {
        display: block;
        margin-top: 10px;
    }

    /* ==========================================================================
     *  Dropdown Menus 
       ========================================================================== */
    ul.main-menu > li:not(.sh_mega):not(.sh_mega_cats) ul.sub-menu {
        position: absolute;
        width: 200px;
        background: #fff;
        top: 100%;
        margin-top: 0;
        left: -1px;
        padding: 0;
        z-index: 1001;
        border: 1px solid #ebebeb;  
        line-height: 1.4;
    }
    .navigation ul.main-menu li:not(.sh_mega):not(.sh_mega_cats):hover > ul.sub-menu,
    .navigation .main-menu li.sh_mega.menu-item-depth-0:hover > .sh_mega_wrap,
    .navigation .main-menu li.menu-item-depth-0:hover > .cats-mega-wrap {
        display: block;
    }
    .navigation ul.main-menu > li:not(.sh_mega):not(.sh_mega_cats) ul.sub-menu li ul.sub-menu {
        left: 100%;
        top: -1px;
        padding: 0;
        border-top: 1px solid #ebebeb;
    }
    .navigation ul.main-menu > li.menu-item-has-children > a:after {
        color: #cbcbcb;
        content: '\e6d2';
        font-family: "enotype";
        font-size: 16px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        left: auto;
        line-height: normal;
        position: absolute;
        right: auto;
        text-transform: none;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    .navigation ul.main-menu > li.menu-item-has-children.menu-item-iconsOnly > a:after {
        display: none;
    }
    .navigation ul.main-menu li:not(.sh_mega):not(.sh_mega_cats) ul.sub-menu li.menu-item-has-children > a:after {
        content: '\e6d4';
        font-family: 'enotype';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 16px;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -3px;
        line-height: 9px;
        color: #d4d4d4;
    }
    .navigation ul.main-menu > li:not(.sh_mega) ul.sub-menu li {
        font-family: 'Lato', sans-serif;
        font-size: 13px;
        background: #fff;
        border-bottom: 1px dashed #f0f0f0;
        letter-spacing: 0.015em;
        text-transform: none;
    }
    .navigation ul.main-menu > li:not(.sh_mega):not(.sh_mega_cats) ul.sub-menu li:last-child {
        border-bottom: 0;
    }
    .navigation ul.main-menu > li:not(.sh_mega) ul.sub-menu li a {
        padding: 10px 15px;
        color: #373c43;
        display: block;
    }
    /* Mega menu */

    .navigation .main-menu li a i.mega_menu_arrow_holder {
        position: relative;
        top: 0;
        margin-right: 5px;
    }
    .navigation .main-menu li.sh_mega.menu-item-depth-0 > .sh_mega_wrap,
    .navigation .main-menu li.sh_default_menu_item.menu-item-depth-0 > .sh_mega_wrap {
        position: absolute;
        width: 100%;
        left: 0;
        margin-top: 0;
        top: auto;
        background: #fff;
        border: 1px solid #ebebeb;
        padding: 20px;
        z-index: 1000;   
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        line-height: 1.4;
    }
    .navigation .main-menu .sh_mega.menu-item-depth-0 > .sh_mega_wrap:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        height: 1px;
        width: 100%;
        background: #fff;
    }
    .navigation .main-menu li.sh_mega > .sh_mega_wrap a {
        display: block;
    }
    .navigation ul.main-menu li.sh_mega .mega_col_title {
        color: #4a525e;
        font-size: 14px;
        font-weight: 700;
    }
    .navigation ul.main-menu li.sh_mega .mega_col_title > a {
        color: #4a525e;
        padding-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: bold !important;
    }

    .navigation ul.main-menu li.sh_mega .mega_col_title.menu-item-iconsOnly > a {
        padding-bottom: 4px;
    }
    .navigation ul.main-menu li.sh_mega ul {
        margin-bottom: 0;
    }
    .navigation ul.main-menu li.sh_mega ul li {
        font-family: 'Lato', sans-serif;
        font-size: 13px;
        font-weight: 400;
        text-transform: none;
        /* letter-spacing: 0.015em; */
    }
    .navigation ul.main-menu li.sh_mega .sh_mega_wrap ul li a {
        color: #373c43;
        padding: 10px 10px 10px 0;
        display: block;
        border-bottom: 1px dashed #f0f0f0;
        line-height: 1.75em;
    }
    /* Mega Menu columns */

    .sh_mega_wrap .menu-item-depth-1.mega_column {
        float: left;
        width: 22.75%;
        margin-right: 3%;
    }
    .sh_mega_wrap .menu-item-depth-1.mega_column:last-child {
        margin-right: 0;
    }
    .sh_mega_wrap.sh_mega_col_3 .menu-item-depth-1.mega_column {
        width: 31.333%;
    }
    .sh_mega_wrap.sh_mega_col_2 .menu-item-depth-1.mega_column {
        width: 48.5%;
    }
    .sh_mega_wrap.sh_mega_col_5 .menu-item-depth-1.mega_column {
        width: 17.6%;
    }
    .sh_mega_wrap.sh_mega_col_6 .menu-item-depth-1.mega_column {
        width: 14.16%;
    }
    .sh_mega_wrap.sh_mega_col_1 .menu-item-depth-1.mega_column {
        width: 100%;
        margin-right: 0;
    }
    .main-menu .sh_mega.menu-item-depth-0 > .sh_mega_wrap .menu-item-depth-1.mega_column:first-child {
        border-left: none;
    }
    .main-menu ul.menu li.sh_mega .mega_col_title > a {
        color: #313131;
        font-size: 14px;
        margin-left: 20px;
        padding: 15px 0;
        border-bottom: 1px solid #e7e7e7;
        font-weight: 700;
        margin-bottom: 7px;
        display: block;
    }
    /* Category Menu */

    .navigation .main-menu > li .cats-mega-wrap {
        position: absolute;
        width: 100%;
        left: -1px;
        margin-top: 0;
        top: 100%;
        background: #fff;
        padding: 15px;
        z-index: 1000;
        width: 502px;
        overflow: hidden;
        border: 1px solid #ebebeb;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        line-height: 1.4;
    }
    .navigation .main-menu > li.sub-menu-left .cats-mega-wrap {
        right: 0;
        left: auto;
    }
    .navigation .main-menu > li .cats-mega-wrap .cats-mega-inner {
        overflow: hidden;
        position: relative;
        border: 1px solid #f0f0f0;
        border-left-width: 0;
        border-bottom-width: 0;
    }
    .navigation .main-menu > li .cats-mega-wrap .cats-mega-inner:before {
        position: absolute;
        left: 140px;
        height: 100%;
        width: 1px;
        background: #f0f0f0;
        top: 0;
        content: '';
    }
    .navigation .main-menu > li .cats-mega-wrap ul.sub-menu {
        display: block;
        width: 140px;
        float: left;
    }
    .navigation ul.main-menu > li .cats-mega-wrap ul.sub-menu li {
        border: 1px solid #f0f0f0;
        border-right-width: 0px;
        border-top-width: 0px;
    }
    .navigation .main-menu > li .cats-mega-wrap ul.sub-menu li a {
        padding: 10px;
    }
    .navigation ul.main-menu > li .cats-mega-wrap ul.sub-menu li.active a {
        position: relative;
    }
    .navigation ul.main-menu > li .cats-mega-wrap ul.sub-menu li.active a:before {
        content: '\e6d4';
        font-family: 'enotype';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 16px;
        position: absolute;
        right: 5px;
        top: 50%;
        margin-top: -5px;
        line-height: 9px;
        color: #d4d4d4;
    }
    .navigation .main-menu > li .cats-mega-wrap .subcat {
        float: right;
        width: 329px;
    }
    .navigation .main-menu > li .cats-mega-wrap .subcat ul {
        min-height: 220px;
    }
    .navigation .main-menu > li .cats-mega-wrap .subcat ul.loading {
        background: url(../images/ajax-loader.gif) no-repeat center center;
    }
    .navigation .main-menu > li .cats-mega-wrap .subcat ul li {
        overflow: hidden;
        padding: 15px 0;
        border-bottom: 1px solid #f0f0f0;
        margin-right: 15px;
        margin-left: 15px;
    }
    .navigation .main-menu > li .cats-mega-wrap .subcat ul li:last-child {
        border-bottom: 0;
    }
    .navigation .main-menu > li .cats-mega-wrap .subcat li.has-thumbnail .subcat-thumbnail {
        float: left;
        width: 70px;
        margin-right: 13px;
    }
    .navigation .main-menu > li .cats-mega-wrap .subcat li.has-thumbnail .subcat-title {
        margin-left: 83px;
        top: -4px;
    }
    .navigation .main-menu > li .cats-mega-wrap .subcat li .subcat-title {
        font-size: 13px;
        position: relative;
    }
    .navigation .main-menu > li .cats-mega-wrap .subcat li .subcat-title a {
        color: #40454D;
        font-family: 'Lato', sans-serif;
        letter-spacing: 0.025em;
        text-transform: none;
    }
    .navigation .main-menu > li .cats-mega-wrap .subcat li .subcat-title span {
        color: #c6c6c6;
        font-size: 11px;
        letter-spacing: 0;
        display: block;
        position: relative;
        margin-top: 5px;
        line-height: 1;
    }
    .navigation .main-menu > li .cats-mega-wrap .subcat .sh-cat-latest {
        display: none;
    }
    .navigation .main-menu > li .cats-mega-wrap .subcat .sh-cat-latest.active {
        display: block;
    }
    .navigation .main-menu > li .cats-mega-wrap .subcat .sh-cat-latest .view_all_posts {
        text-align: center;
        display: block;
        line-height: 38px;
        height: 40px;
        color: #40454D;
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
    }
    .navigation .main-menu > li .cats-mega-wrap .subcat .sh-cat-latest .view_all_posts i {
        float: none;
        line-height: 31px;
        margin-left: 5px;
        position: relative;
        top: 3px;
    }
    /* Horizontal Categories */

    .navigation .main-menu > li .cats-mega-wrap.sh_cats_horizontal {
        width: 617px;
    }
    .navigation .main-menu > li .cats-mega-wrap.sh_cats_horizontal .subcat {
        width: 443px;
    }
    .navigation .main-menu > li .cats-mega-wrap.sh_cats_horizontal .subcat .sh-cat-latest ul {
        overflow: hidden;
        min-height: 150px;
    }
    .navigation .main-menu > li .cats-mega-wrap.sh_cats_horizontal .subcat .sh-cat-latest li {
        float: left;
        width: 33.3%;
        margin: 0;
        padding: 15px;
        border-right: 1px solid #f0f0f0;
        border-bottom: 0;
        padding-bottom: 200px;
        margin-bottom: -200px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .navigation .main-menu > li .cats-mega-wrap.sh_cats_horizontal .subcat .sh-cat-latest li:last-child {
        border-right: 0;
    }
    .navigation .main-menu > li .cats-mega-wrap.sh_cats_horizontal .subcat li.has-thumbnail .subcat-thumbnail {
        float: none;
        margin: 0;
        margin-bottom: 20px;
        width: auto;
    }
    .navigation .cats-mega-wrap.sh_cats_horizontal .subcat-thumbnail {
        float: none;
        margin-right: 0;
    }
    .navigation .main-menu > li .cats-mega-wrap.sh_cats_horizontal .subcat li .subcat-title {
        clear: both;
        overflow: hidden;
        padding-bottom: 12px;
        padding-top: 10px;
        margin: 0;
    }
    .navigation .main-menu > li .cats-mega-wrap.sh_cats_horizontal .subcat li .subcat-title span {
        display: block;
        padding: 5px 0;
    }
    /* Custom mega menu */
    .navigation .main-menu li .sh_custom_mega .sub-menu {
        display: none;
    }
    .navigation .sh_custom_mega ul,
    .navigation .sh_custom_mega ol {
        line-height: 1.4em;
        list-style-position: outside;
        margin: 3px 3px 10px 14px;
        padding: 0 2px 0 5px;
        text-indent: 2px;
    }
    .navigation .sh_custom_mega ul {
        list-style: disc;
    }
    .navigation .sh_custom_mega ol {
        list-style: decimal;
    }
    .navigation .main-menu .sh_custom_mega {
        font-size: 14px;
        line-height: 1.6em;
        color: #8e8e8e;
        background: url(../images/bg.jpg);
    }
    i.long-arrow-icon:before {
        font-family: 'font-awesome';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e755";
    }
    .subcat-thumbnail {
        float: left;
        height: 75px;
        margin-right: 15px;
        width: 90px;   
    }
    .subcat-thumbnail img {
        max-height: 100%;
        width: 100%;  
    }
    .sh_cats_horizontal .subcat-thumbnail {
        height: auto;
        width: auto;
    }
    .sh_cats_horizontal .subcat-thumbnail img {
        max-height: auto;
        width: auto;
    }
    .megamenu-content li a {
        padding: 10px 10px 10px 0 !important
    }
    .cat_full {
        margin-bottom: -5px;
    }
    .cat_full .cat-wrap {
        margin-top: 12px;
    }
    .cat_full .entry-title {
        font-size: 14px;
        font-family: 'Lato', sans-serif;
        margin-top: 0px;
        line-height: 1.2em;
        color: #999;
        margin-bottom: 0;
        padding-bottom: 0;
        font-weight: bold;
    }
    .cat_full .entry-title a {
        line-height: normal !important;
        color: inherit;
    }
    .cat_full .entry-title .entry-date {
        font-size: 10px;
        color: #a0a0a0;
    }
    .cat_full ul li a {
        border-bottom: 0 none !important;
    }
    .cat_full .view-all {
        overflow: hidden;
        text-align: center;
        border-top: 1px dashed #ebebeb;
        margin-top: 20px;
        padding-top: 12px;
        display: table;
        width: 100%;
        font-family: 'Lato', sans-serif;
        color: #a0a0a0;
    }
    .cat_full .view-all a {
        color: #a0a0a0;
    }
    .cat_full .view-all a .fa {
        float: none;
    }
    .sh_cats_column .entry-date {
        font-size: 11px;
        color: #a0a0a0;
    }

    /* ==========================================================================
     *                Dropdown effects 
    ========================================================================== */
    /* Older than css3 */
    .lt-ie9 ul.main-menu li:not(.sh_mega):not(.sh_mega_cats) > ul.sub-menu,
    .lt-ie9 .navigation .main-menu li.sh_mega.menu-item-depth-0 > .sh_mega_wrap,
    .lt-ie9 .navigation .main-menu li.menu-item-depth-0 > .cats-mega-wrap,
    .lt-ie9 .topbar .top-nav > li ul.sub-menu {
        display: none;
    }
    .lt-ie9 ul.main-menu li:not(.sh_mega):not(.sh_mega_cats):hover > ul.sub-menu,
    .lt-ie9 .navigation .main-menu li.sh_mega.menu-item-depth-0:hover .sh_mega_wrap,
    .lt-ie9 .navigation .main-menu li.menu-item-depth-0:hover > .cats-mega-wrap .lt-ie9 .topbar .top-nav li:hover > ul.sub-menu {
        display: block;
        visibility: visible;
    }
    /* Fade effect (default) */
    .navigation.animation-fade ul.main-menu li:not(.sh_mega):not(.sh_mega_cats) > ul.sub-menu,
    .navigation.animation-fade .main-menu li.sh_mega.menu-item-depth-0 > .sh_mega_wrap,
    .navigation.animation-fade .main-menu li.menu-item-depth-0 > .cats-mega-wrap,
    .topbar .top-nav > li ul.sub-menu {
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        -moz-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        -o-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        transform: scaleY(0.98);
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    .navigation.animation-fade ul.main-menu li:not(.sh_mega):not(.sh_mega_cats):hover > ul.sub-menu,
    .navigation.animation-fade .main-menu li.sh_mega.menu-item-depth-0:hover .sh_mega_wrap,
    .navigation.animation-fade .main-menu li.menu-item-depth-0:hover > .cats-mega-wrap,
    .topbar .top-nav li:hover > ul.sub-menu {
        opacity: 1;
        visibility: visible;
        -moz-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -o-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }

    /* Fade In Up effect */
    .navigation.animation-fadeInUp ul.main-menu li:not(.sh_mega):not(.sh_mega_cats) > ul.sub-menu,
    .navigation.animation-fadeInUp .main-menu li.sh_mega.menu-item-depth-0 > .sh_mega_wrap,
    .navigation.animation-fadeInUp .main-menu li.menu-item-depth-0 > .cats-mega-wrap,
    .topbar .top-nav > li ul.sub-menu {
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        -webkit-transform: translate3d(0, 15%, 0);
        -moz-transform: translate3d(0, 15%, 0);
        -o-transform: translate3d(0, 15%, 0);
        -ms-transform: translate3d(0, 15%, 0);
        transform: translate3d(0, 15%, 0);
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    .navigation.animation-fadeInUp ul.main-menu li:not(.sh_mega):not(.sh_mega_cats):hover > ul.sub-menu,
    .navigation.animation-fadeInUp .main-menu li.sh_mega.menu-item-depth-0:hover .sh_mega_wrap,
    .navigation.animation-fadeInUp .main-menu li.menu-item-depth-0:hover > .cats-mega-wrap,
    .topbar .top-nav li:hover > ul.sub-menu {
        opacity: 1;
        visibility: visible;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .navigation.animation-flipIn ul.main-menu li:not(.sh_mega):not(.sh_mega_cats) > ul.sub-menu,
    .navigation.animation-flipIn .main-menu li.sh_mega.menu-item-depth-0 > .sh_mega_wrap,
    .navigation.animation-flipIn .main-menu li.menu-item-depth-0 > .cats-mega-wrap,
    .topbar .top-nav > li ul.sub-menu {
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;

        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 30deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 30deg);

        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    .navigation.animation-flipIn ul.main-menu li:not(.sh_mega):not(.sh_mega_cats):hover > ul.sub-menu,
    .navigation.animation-flipIn .main-menu li.sh_mega.menu-item-depth-0:hover .sh_mega_wrap,
    .navigation.animation-flipIn .main-menu li.menu-item-depth-0:hover > .cats-mega-wrap,
    .topbar .top-nav li:hover > ul.sub-menu {
        opacity: 1;
        visibility: visible;

        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
    }

    /* Slide effect */

    .navigation.animation-slide ul.main-menu li:not(.sh_mega):not(.sh_mega_cats) > ul.sub-menu,
    .navigation.animation-slide .main-menu li.sh_mega.menu-item-depth-0 > .sh_mega_wrap,
    .navigation.animation-slide .main-menu li.menu-item-depth-0 > .cats-mega-wrap {
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.28s ease-in-out;
        -moz-transition: all 0.28s ease-in-out;
        -ms-transition: all 0.28s ease-in-out;
        -o-transition: all 0.28s ease-in-out;
        transition: all 0.28s ease-in-out;
        -moz-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        -o-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    .navigation.animation-slide ul.main-menu li:not(.sh_mega):not(.sh_mega_cats):hover > ul.sub-menu,
    .navigation.animation-slide .main-menu li.sh_mega.menu-item-depth-0:hover .sh_mega_wrap,
    .navigation.animation-slide .main-menu li.menu-item-depth-0:hover > .cats-mega-wrap {
        opacity: 1;
        visibility: visible;
        display: block;
        -moz-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -o-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }
    /* Skew effect */
    .navigation.animation-skew ul.main-menu li:not(.sh_mega):not(.sh_mega_cats) > ul.sub-menu,
    .navigation.animation-skew .main-menu li.sh_mega.menu-item-depth-0 > .sh_mega_wrap,
    .navigation.animation-skew .main-menu li.menu-item-depth-0 > .cats-mega-wrap {
        opacity: 0;
        visibility: visible;
        max-width: 0;
        max-height: 0;
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: perspective(600px) rotateX(-90deg);
        -moz-transform: perspective(600px) rotateX(-90deg);
        -ms-transform: perspective(600px) rotateX(-90deg);
        -o-transform: perspective(600px) rotateX(-90deg);
        transform: perspective(600px) rotateX(-90deg);
        -webkit-transition: -webkit-transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
        -o-transition: -o-transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
        transition: transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
    }
    .navigation.animation-skew ul.main-menu li:not(.sh_mega):not(.sh_mega_cats):hover > ul.sub-menu,
    .navigation.animation-skew .main-menu li.sh_mega.menu-item-depth-0:hover .sh_mega_wrap,
    .navigation.animation-skew .main-menu li.menu-item-depth-0:hover > .cats-mega-wrap {
        opacity: 1;
        visibility: visible;
        max-width: 5000px;
        max-height: 5000px;
        -webkit-transform: perspective(600px) rotateX(0deg);
        -moz-transform: perspective(600px) rotateX(0deg);
        -ms-transform: perspective(600px) rotateX(0deg);
        -o-transform: perspective(600px) rotateX(0deg);
        transform: perspective(600px) rotateX(0deg);
        -webkit-transition: -webkit-transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
        -o-transition: -o-transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
        transition: transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
    }

    .navigation-center .main-menu {
        display: table;
        margin: auto;
        width: auto;
    }

}
@media only screen and (max-width: 991px) {
   #header-bottom .navigation .main-menu > li > a > span.devide {
        display: none;
   } 
}

@media only screen and (min-width: 992px) {
    .menuexpandermain {
        display: none;
    }
    .navigation.top-navigation {
        margin-top: 0;
        border-top: 0 none;
        line-height: 60px;
    }
    .navigation.top-navigation .main-menu > li {
        border-bottom: 0 none;
        margin-bottom: 0;
    }
    .navigation.top-navigation .main-menu > li > a {
        font-size: 12px;
    }
}
@media only screen and (max-width: 920px) {
    .navigation {
        display: none;
    }
    .sh_mega_wrap.sh_mega_col_3 .menu-item-depth-1.mega_column {
        width: 100%;
    }
    ul.main-menu > li.menu-item-has-children > a::after {
        content: "" !important;
    }
    ul.main-menu li.sh_mega .mega_col_title > a {
        display: none;
    }
    .responsive-caret {
        display: none;
    }
    ul.main-menu > li:not(.sh_mega):not(.sh_mega_cats) ul.sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        margin-top: 0 !important;
        left: 0;
        padding: 10px;
        z-index: 1000;
        border: 1px solid #ebebeb;  
        line-height: 1.4;
    }    
    ul.main-menu > li:not(.sh_mega):not(.sh_mega_cats) ul.sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        margin-top: 0 !important;
        left: 0;
        padding: 10px;
        z-index: 1000;
        border: 1px solid #ebebeb;  
        line-height: 1.4;
    }
    .top-menu .main-menu li a {
        font-family: 'Lato', sans-serif;
        font-size: 13px;
    }
    #mobile-menu ul, 
    #mobile-menu ol {
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0 none;
    }
}

@media only screen and (min-width: 992px) {
    #header-middle .sh_cats_column {
        min-width: 1170px;
    }    
    #header-middle .sub-menu.sh_mega_wrap {
        min-width: 1170px;
    }
    #nav-right .navigation .main-menu li.sh_mega.menu-item-depth-0 > .sh_mega_wrap, 
    #nav-right .navigation .main-menu li.sh_default_menu_item.menu-item-depth-0 > .sh_mega_wrap {
        left: auto;
        right: 0;
    }
    #nav-right .navigation ul.main-menu > li:not(.sh_mega):not(.sh_mega_cats) ul.sub-menu li ul.sub-menu {
        left: auto;
        right: 100%;
    }
    #nav-right .navigation ul.main-menu li:not(.sh_mega):not(.sh_mega_cats) ul.sub-menu li.menu-item-has-children > a:after {
        right: auto;
        left: 5px;
        transform: rotate(180deg);
    }
    #nav-right .navigation ul.main-menu > li:not(.sh_mega) ul.sub-menu li a {
        padding: 10px 25px;
    }
    #nav-right .navigation .main-menu > li .cats-mega-wrap {
        left: auto;
        right: 0;
    }
    #nav-right ul.main-menu > li:not(.sh_mega):not(.sh_mega_cats) ul.sub-menu {
        left: auto;
        right: 0;
    }
}
