@font-face {
	font-family: 'sh';
	src:url('fonts/sh.eot');
	src:url('fonts/sh.eot?#iefix') format('embedded-opentype'),
		url('fonts/sh.ttf') format('truetype'),
		url('fonts/sh.woff') format('woff'),
		url('fonts/sh.svg#sh') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="sh-icon-"] {
	font-family: 'sh';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sh-icon-home:before {
	content: "\e600";
}
.sh-icon-home2:before {
	content: "\e601";
}
.sh-icon-home3:before {
	content: "\e602";
}
.sh-icon-office:before {
	content: "\e603";
}
.sh-icon-newspaper:before {
	content: "\e604";
}
.sh-icon-pencil:before {
	content: "\e605";
}
.sh-icon-pencil2:before {
	content: "\e606";
}
.sh-icon-quill:before {
	content: "\e607";
}
.sh-icon-pen:before {
	content: "\e608";
}
.sh-icon-blog:before {
	content: "\e609";
}
.sh-icon-droplet:before {
	content: "\e60a";
}
.sh-icon-paint-format:before {
	content: "\e60b";
}
.sh-icon-image:before {
	content: "\e60c";
}
.sh-icon-image2:before {
	content: "\e60d";
}
.sh-icon-images:before {
	content: "\e60e";
}
.sh-icon-camera:before {
	content: "\e60f";
}
.sh-icon-music:before {
	content: "\e610";
}
.sh-icon-headphones:before {
	content: "\e611";
}
.sh-icon-play:before {
	content: "\e612";
}
.sh-icon-film:before {
	content: "\e613";
}
.sh-icon-camera2:before {
	content: "\e614";
}
.sh-icon-dice:before {
	content: "\e615";
}
.sh-icon-pacman:before {
	content: "\e616";
}
.sh-icon-spades:before {
	content: "\e617";
}
.sh-icon-clubs:before {
	content: "\e618";
}
.sh-icon-diamonds:before {
	content: "\e619";
}
.sh-icon-pawn:before {
	content: "\e61a";
}
.sh-icon-bullhorn:before {
	content: "\e61b";
}
.sh-icon-connection:before {
	content: "\e61c";
}
.sh-icon-podcast:before {
	content: "\e61d";
}
.sh-icon-feed:before {
	content: "\e61e";
}
.sh-icon-book:before {
	content: "\e61f";
}
.sh-icon-books:before {
	content: "\e620";
}
.sh-icon-library:before {
	content: "\e621";
}
.sh-icon-file:before {
	content: "\e622";
}
.sh-icon-profile:before {
	content: "\e623";
}
.sh-icon-file2:before {
	content: "\e624";
}
.sh-icon-file3:before {
	content: "\e625";
}
.sh-icon-file4:before {
	content: "\e626";
}
.sh-icon-copy:before {
	content: "\e627";
}
.sh-icon-copy2:before {
	content: "\e628";
}
.sh-icon-copy3:before {
	content: "\e629";
}
.sh-icon-paste:before {
	content: "\e62a";
}
.sh-icon-paste2:before {
	content: "\e62b";
}
.sh-icon-paste3:before {
	content: "\e62c";
}
.sh-icon-stack:before {
	content: "\e62d";
}
.sh-icon-folder:before {
	content: "\e62e";
}
.sh-icon-folder-open:before {
	content: "\e62f";
}
.sh-icon-tag:before {
	content: "\e630";
}
.sh-icon-tags:before {
	content: "\e631";
}
.sh-icon-barcode:before {
	content: "\e632";
}
.sh-icon-qrcode:before {
	content: "\e633";
}
.sh-icon-ticket:before {
	content: "\e634";
}
.sh-icon-cart:before {
	content: "\e635";
}
.sh-icon-cart2:before {
	content: "\e636";
}
.sh-icon-cart3:before {
	content: "\e637";
}
.sh-icon-coin:before {
	content: "\e638";
}
.sh-icon-credit:before {
	content: "\e639";
}
.sh-icon-calculate:before {
	content: "\e63a";
}
.sh-icon-support:before {
	content: "\e63b";
}
.sh-icon-phone:before {
	content: "\e63c";
}
.sh-icon-phone-hang-up:before {
	content: "\e63d";
}
.sh-icon-address-book:before {
	content: "\e63e";
}
.sh-icon-notebook:before {
	content: "\e63f";
}
.sh-icon-envelope:before {
	content: "\e640";
}
.sh-icon-pushpin:before {
	content: "\e641";
}
.sh-icon-location:before {
	content: "\e642";
}
.sh-icon-location2:before {
	content: "\e643";
}
.sh-icon-compass:before {
	content: "\e644";
}
.sh-icon-map:before {
	content: "\e645";
}
.sh-icon-map2:before {
	content: "\e646";
}
.sh-icon-history:before {
	content: "\e647";
}
.sh-icon-clock:before {
	content: "\e648";
}
.sh-icon-clock2:before {
	content: "\e649";
}
.sh-icon-alarm:before {
	content: "\e64a";
}
.sh-icon-alarm2:before {
	content: "\e64b";
}
.sh-icon-bell:before {
	content: "\e64c";
}
.sh-icon-stopwatch:before {
	content: "\e64d";
}
.sh-icon-calendar:before {
	content: "\e64e";
}
.sh-icon-calendar2:before {
	content: "\e64f";
}
.sh-icon-print:before {
	content: "\e650";
}
.sh-icon-keyboard:before {
	content: "\e651";
}
.sh-icon-screen:before {
	content: "\e652";
}
.sh-icon-laptop:before {
	content: "\e653";
}
.sh-icon-mobile:before {
	content: "\e654";
}
.sh-icon-mobile2:before {
	content: "\e655";
}
.sh-icon-tablet:before {
	content: "\e656";
}
.sh-icon-tv:before {
	content: "\e657";
}
.sh-icon-cabinet:before {
	content: "\e658";
}
.sh-icon-drawer:before {
	content: "\e659";
}
.sh-icon-drawer2:before {
	content: "\e65a";
}
.sh-icon-drawer3:before {
	content: "\e65b";
}
.sh-icon-box-add:before {
	content: "\e65c";
}
.sh-icon-box-remove:before {
	content: "\e65d";
}
.sh-icon-download:before {
	content: "\e65e";
}
.sh-icon-upload:before {
	content: "\e65f";
}
.sh-icon-disk:before {
	content: "\e660";
}
.sh-icon-storage:before {
	content: "\e661";
}
.sh-icon-undo:before {
	content: "\e662";
}
.sh-icon-redo:before {
	content: "\e663";
}
.sh-icon-flip:before {
	content: "\e664";
}
.sh-icon-flip2:before {
	content: "\e665";
}
.sh-icon-undo2:before {
	content: "\e666";
}
.sh-icon-redo2:before {
	content: "\e667";
}
.sh-icon-forward:before {
	content: "\e668";
}
.sh-icon-reply:before {
	content: "\e669";
}
.sh-icon-bubble:before {
	content: "\e66a";
}
.sh-icon-bubbles:before {
	content: "\e66b";
}
.sh-icon-bubbles2:before {
	content: "\e66c";
}
.sh-icon-bubble2:before {
	content: "\e66d";
}
.sh-icon-bubbles3:before {
	content: "\e66e";
}
.sh-icon-bubbles4:before {
	content: "\e66f";
}
.sh-icon-user:before {
	content: "\e670";
}
.sh-icon-users:before {
	content: "\e671";
}
.sh-icon-user2:before {
	content: "\e672";
}
.sh-icon-users2:before {
	content: "\e673";
}
.sh-icon-user3:before {
	content: "\e674";
}
.sh-icon-user4:before {
	content: "\e675";
}
.sh-icon-quotes-left:before {
	content: "\e676";
}
.sh-icon-busy:before {
	content: "\e677";
}
.sh-icon-spinner:before {
	content: "\e678";
}
.sh-icon-spinner2:before {
	content: "\e679";
}
.sh-icon-spinner3:before {
	content: "\e67a";
}
.sh-icon-spinner4:before {
	content: "\e67b";
}
.sh-icon-spinner5:before {
	content: "\e67c";
}
.sh-icon-spinner6:before {
	content: "\e67d";
}
.sh-icon-binoculars:before {
	content: "\e67e";
}
.sh-icon-search:before {
	content: "\e67f";
}
.sh-icon-zoom-in:before {
	content: "\e680";
}
.sh-icon-zoom-out:before {
	content: "\e681";
}
.sh-icon-expand:before {
	content: "\e682";
}
.sh-icon-contract:before {
	content: "\e683";
}
.sh-icon-expand2:before {
	content: "\e684";
}
.sh-icon-contract2:before {
	content: "\e685";
}
.sh-icon-key:before {
	content: "\e686";
}
.sh-icon-key2:before {
	content: "\e687";
}
.sh-icon-lock:before {
	content: "\e688";
}
.sh-icon-lock2:before {
	content: "\e689";
}
.sh-icon-unlocked:before {
	content: "\e68a";
}
.sh-icon-wrench:before {
	content: "\e68b";
}
.sh-icon-settings:before {
	content: "\e68c";
}
.sh-icon-equalizer:before {
	content: "\e68d";
}
.sh-icon-cog:before {
	content: "\e68e";
}
.sh-icon-cogs:before {
	content: "\e68f";
}
.sh-icon-cog2:before {
	content: "\e690";
}
.sh-icon-hammer:before {
	content: "\e691";
}
.sh-icon-wand:before {
	content: "\e692";
}
.sh-icon-aid:before {
	content: "\e693";
}
.sh-icon-bug:before {
	content: "\e694";
}
.sh-icon-pie:before {
	content: "\e695";
}
.sh-icon-stats:before {
	content: "\e696";
}
.sh-icon-bars:before {
	content: "\e697";
}
.sh-icon-bars2:before {
	content: "\e698";
}
.sh-icon-gift:before {
	content: "\e699";
}
.sh-icon-trophy:before {
	content: "\e69a";
}
.sh-icon-glass:before {
	content: "\e69b";
}
.sh-icon-mug:before {
	content: "\e69c";
}
.sh-icon-food:before {
	content: "\e69d";
}
.sh-icon-leaf:before {
	content: "\e69e";
}
.sh-icon-rocket:before {
	content: "\e69f";
}
.sh-icon-meter:before {
	content: "\e6a0";
}
.sh-icon-meter2:before {
	content: "\e6a1";
}
.sh-icon-dashboard:before {
	content: "\e6a2";
}
.sh-icon-hammer2:before {
	content: "\e6a3";
}
.sh-icon-fire:before {
	content: "\e6a4";
}
.sh-icon-lab:before {
	content: "\e6a5";
}
.sh-icon-magnet:before {
	content: "\e6a6";
}
.sh-icon-remove:before {
	content: "\e6a7";
}
.sh-icon-remove2:before {
	content: "\e6a8";
}
.sh-icon-briefcase:before {
	content: "\e6a9";
}
.sh-icon-airplane:before {
	content: "\e6aa";
}
.sh-icon-truck:before {
	content: "\e6ab";
}
.sh-icon-road:before {
	content: "\e6ac";
}
.sh-icon-accessibility:before {
	content: "\e6ad";
}
.sh-icon-target:before {
	content: "\e6ae";
}
.sh-icon-shield:before {
	content: "\e6af";
}
.sh-icon-lightning:before {
	content: "\e6b0";
}
.sh-icon-switch:before {
	content: "\e6b1";
}
.sh-icon-power-cord:before {
	content: "\e6b2";
}
.sh-icon-signup:before {
	content: "\e6b3";
}
.sh-icon-list:before {
	content: "\e6b4";
}
.sh-icon-list2:before {
	content: "\e6b5";
}
.sh-icon-numbered-list:before {
	content: "\e6b6";
}
.sh-icon-menu:before {
	content: "\e6b7";
}
.sh-icon-menu2:before {
	content: "\e6b8";
}
.sh-icon-tree:before {
	content: "\e6b9";
}
.sh-icon-cloud:before {
	content: "\e6ba";
}
.sh-icon-cloud-download:before {
	content: "\e6bb";
}
.sh-icon-cloud-upload:before {
	content: "\e6bc";
}
.sh-icon-download2:before {
	content: "\e6bd";
}
.sh-icon-upload2:before {
	content: "\e6be";
}
.sh-icon-download3:before {
	content: "\e6bf";
}
.sh-icon-upload3:before {
	content: "\e6c0";
}
.sh-icon-globe:before {
	content: "\e6c1";
}
.sh-icon-earth:before {
	content: "\e6c2";
}
.sh-icon-link:before {
	content: "\e6c3";
}
.sh-icon-flag:before {
	content: "\e6c4";
}
.sh-icon-attachment:before {
	content: "\e6c5";
}
.sh-icon-eye:before {
	content: "\e6c6";
}
.sh-icon-eye-blocked:before {
	content: "\e6c7";
}
.sh-icon-eye2:before {
	content: "\e6c8";
}
.sh-icon-bookmark:before {
	content: "\e6c9";
}
.sh-icon-bookmarks:before {
	content: "\e6ca";
}
.sh-icon-brightness-medium:before {
	content: "\e6cb";
}
.sh-icon-brightness-contrast:before {
	content: "\e6cc";
}
.sh-icon-contrast:before {
	content: "\e6cd";
}
.sh-icon-star:before {
	content: "\e6ce";
}
.sh-icon-star2:before {
	content: "\e6cf";
}
.sh-icon-star3:before {
	content: "\e6d0";
}
.sh-icon-heart:before {
	content: "\e6d1";
}
.sh-icon-heart2:before {
	content: "\e6d2";
}
.sh-icon-heart-broken:before {
	content: "\e6d3";
}
.sh-icon-thumbs-up:before {
	content: "\e6d4";
}
.sh-icon-thumbs-up2:before {
	content: "\e6d5";
}
.sh-icon-happy:before {
	content: "\e6d6";
}
.sh-icon-happy2:before {
	content: "\e6d7";
}
.sh-icon-smiley:before {
	content: "\e6d8";
}
.sh-icon-smiley2:before {
	content: "\e6d9";
}
.sh-icon-tongue:before {
	content: "\e6da";
}
.sh-icon-tongue2:before {
	content: "\e6db";
}
.sh-icon-sad:before {
	content: "\e6dc";
}
.sh-icon-sad2:before {
	content: "\e6dd";
}
.sh-icon-wink:before {
	content: "\e6de";
}
.sh-icon-wink2:before {
	content: "\e6df";
}
.sh-icon-grin:before {
	content: "\e6e0";
}
.sh-icon-grin2:before {
	content: "\e6e1";
}
.sh-icon-cool:before {
	content: "\e6e2";
}
.sh-icon-cool2:before {
	content: "\e6e3";
}
.sh-icon-angry:before {
	content: "\e6e4";
}
.sh-icon-angry2:before {
	content: "\e6e5";
}
.sh-icon-evil:before {
	content: "\e6e6";
}
.sh-icon-evil2:before {
	content: "\e6e7";
}
.sh-icon-shocked:before {
	content: "\e6e8";
}
.sh-icon-shocked2:before {
	content: "\e6e9";
}
.sh-icon-confused:before {
	content: "\e6ea";
}
.sh-icon-confused2:before {
	content: "\e6eb";
}
.sh-icon-neutral:before {
	content: "\e6ec";
}
.sh-icon-neutral2:before {
	content: "\e6ed";
}
.sh-icon-wondering:before {
	content: "\e6ee";
}
.sh-icon-wondering2:before {
	content: "\e6ef";
}
.sh-icon-point-up:before {
	content: "\e6f0";
}
.sh-icon-point-right:before {
	content: "\e6f1";
}
.sh-icon-point-down:before {
	content: "\e6f2";
}
.sh-icon-point-left:before {
	content: "\e6f3";
}
.sh-icon-warning:before {
	content: "\e6f4";
}
.sh-icon-notification:before {
	content: "\e6f5";
}
.sh-icon-question:before {
	content: "\e6f6";
}
.sh-icon-info:before {
	content: "\e6f7";
}
.sh-icon-info2:before {
	content: "\e6f8";
}
.sh-icon-blocked:before {
	content: "\e6f9";
}
.sh-icon-cancel-circle:before {
	content: "\e6fa";
}
.sh-icon-checkmark-circle:before {
	content: "\e6fb";
}
.sh-icon-spam:before {
	content: "\e6fc";
}
.sh-icon-close:before {
	content: "\e6fd";
}
.sh-icon-checkmark:before {
	content: "\e6fe";
}
.sh-icon-checkmark2:before {
	content: "\e6ff";
}
.sh-icon-spell-check:before {
	content: "\e700";
}
.sh-icon-minus:before {
	content: "\e701";
}
.sh-icon-plus:before {
	content: "\e702";
}
.sh-icon-enter:before {
	content: "\e703";
}
.sh-icon-exit:before {
	content: "\e704";
}
.sh-icon-play2:before {
	content: "\e705";
}
.sh-icon-pause:before {
	content: "\e706";
}
.sh-icon-stop:before {
	content: "\e707";
}
.sh-icon-backward:before {
	content: "\e708";
}
.sh-icon-forward2:before {
	content: "\e709";
}
.sh-icon-play3:before {
	content: "\e70a";
}
.sh-icon-pause2:before {
	content: "\e70b";
}
.sh-icon-stop2:before {
	content: "\e70c";
}
.sh-icon-backward2:before {
	content: "\e70d";
}
.sh-icon-forward3:before {
	content: "\e70e";
}
.sh-icon-first:before {
	content: "\e70f";
}
.sh-icon-last:before {
	content: "\e710";
}
.sh-icon-previous:before {
	content: "\e711";
}
.sh-icon-next:before {
	content: "\e712";
}
.sh-icon-eject:before {
	content: "\e713";
}
.sh-icon-volume-high:before {
	content: "\e714";
}
.sh-icon-volume-medium:before {
	content: "\e715";
}
.sh-icon-volume-low:before {
	content: "\e716";
}
.sh-icon-volume-mute:before {
	content: "\e717";
}
.sh-icon-volume-mute2:before {
	content: "\e718";
}
.sh-icon-volume-increase:before {
	content: "\e719";
}
.sh-icon-volume-decrease:before {
	content: "\e71a";
}
.sh-icon-loop:before {
	content: "\e71b";
}
.sh-icon-loop2:before {
	content: "\e71c";
}
.sh-icon-loop3:before {
	content: "\e71d";
}
.sh-icon-shuffle:before {
	content: "\e71e";
}
.sh-icon-arrow-up-left:before {
	content: "\e71f";
}
.sh-icon-arrow-up:before {
	content: "\e720";
}
.sh-icon-arrow-up-right:before {
	content: "\e721";
}
.sh-icon-arrow-right:before {
	content: "\e722";
}
.sh-icon-arrow-down-right:before {
	content: "\e723";
}
.sh-icon-arrow-down:before {
	content: "\e724";
}
.sh-icon-arrow-down-left:before {
	content: "\e725";
}
.sh-icon-arrow-left:before {
	content: "\e726";
}
.sh-icon-arrow-up-left2:before {
	content: "\e727";
}
.sh-icon-arrow-up2:before {
	content: "\e728";
}
.sh-icon-arrow-up-right2:before {
	content: "\e729";
}
.sh-icon-arrow-right2:before {
	content: "\e72a";
}
.sh-icon-arrow-down-right2:before {
	content: "\e72b";
}
.sh-icon-arrow-down2:before {
	content: "\e72c";
}
.sh-icon-arrow-down-left2:before {
	content: "\e72d";
}
.sh-icon-arrow-left2:before {
	content: "\e72e";
}
.sh-icon-arrow-up-left3:before {
	content: "\e72f";
}
.sh-icon-arrow-up3:before {
	content: "\e730";
}
.sh-icon-arrow-up-right3:before {
	content: "\e731";
}
.sh-icon-arrow-right3:before {
	content: "\e732";
}
.sh-icon-arrow-down-right3:before {
	content: "\e733";
}
.sh-icon-arrow-down3:before {
	content: "\e734";
}
.sh-icon-arrow-down-left3:before {
	content: "\e735";
}
.sh-icon-arrow-left3:before {
	content: "\e736";
}
.sh-icon-tab:before {
	content: "\e737";
}
.sh-icon-checkbox-checked:before {
	content: "\e738";
}
.sh-icon-checkbox-unchecked:before {
	content: "\e739";
}
.sh-icon-checkbox-partial:before {
	content: "\e73a";
}
.sh-icon-radio-checked:before {
	content: "\e73b";
}
.sh-icon-radio-unchecked:before {
	content: "\e73c";
}
.sh-icon-crop:before {
	content: "\e73d";
}
.sh-icon-scissors:before {
	content: "\e73e";
}
.sh-icon-filter:before {
	content: "\e73f";
}
.sh-icon-filter2:before {
	content: "\e740";
}
.sh-icon-font:before {
	content: "\e741";
}
.sh-icon-text-height:before {
	content: "\e742";
}
.sh-icon-text-width:before {
	content: "\e743";
}
.sh-icon-bold:before {
	content: "\e744";
}
.sh-icon-underline:before {
	content: "\e745";
}
.sh-icon-italic:before {
	content: "\e746";
}
.sh-icon-strikethrough:before {
	content: "\e747";
}
.sh-icon-omega:before {
	content: "\e748";
}
.sh-icon-sigma:before {
	content: "\e749";
}
.sh-icon-table:before {
	content: "\e74a";
}
.sh-icon-table2:before {
	content: "\e74b";
}
.sh-icon-insert-template:before {
	content: "\e74c";
}
.sh-icon-pilcrow:before {
	content: "\e74d";
}
.sh-icon-left-toright:before {
	content: "\e74e";
}
.sh-icon-right-toleft:before {
	content: "\e74f";
}
.sh-icon-paragraph-left:before {
	content: "\e750";
}
.sh-icon-paragraph-center:before {
	content: "\e751";
}
.sh-icon-paragraph-right:before {
	content: "\e752";
}
.sh-icon-paragraph-justify:before {
	content: "\e753";
}
.sh-icon-paragraph-left2:before {
	content: "\e754";
}
.sh-icon-paragraph-center2:before {
	content: "\e755";
}
.sh-icon-paragraph-right2:before {
	content: "\e756";
}
.sh-icon-paragraph-justify2:before {
	content: "\e757";
}
.sh-icon-indent-increase:before {
	content: "\e758";
}
.sh-icon-indent-decrease:before {
	content: "\e759";
}
.sh-icon-new-tab:before {
	content: "\e75a";
}
.sh-icon-embed:before {
	content: "\e75b";
}
.sh-icon-code:before {
	content: "\e75c";
}
.sh-icon-console:before {
	content: "\e75d";
}
.sh-icon-share:before {
	content: "\e75e";
}
.sh-icon-mail:before {
	content: "\e75f";
}
.sh-icon-mail2:before {
	content: "\e760";
}
.sh-icon-mail3:before {
	content: "\e761";
}
.sh-icon-mail4:before {
	content: "\e762";
}
.sh-icon-google:before {
	content: "\e763";
}
.sh-icon-google-plus:before {
	content: "\e764";
}
.sh-icon-google-plus2:before {
	content: "\e765";
}
.sh-icon-google-plus3:before {
	content: "\e766";
}
.sh-icon-google-plus4:before {
	content: "\e767";
}
.sh-icon-google-drive:before {
	content: "\e768";
}
.sh-icon-facebook:before {
	content: "\e769";
}
.sh-icon-facebook2:before {
	content: "\e76a";
}
.sh-icon-facebook3:before {
	content: "\e76b";
}
.sh-icon-instagram:before {
	content: "\e76c";
}
.sh-icon-twitter:before {
	content: "\e76d";
}
.sh-icon-twitter2:before {
	content: "\e76e";
}
.sh-icon-twitter3:before {
	content: "\e76f";
}
.sh-icon-feed2:before {
	content: "\e770";
}
.sh-icon-feed3:before {
	content: "\e771";
}
.sh-icon-feed4:before {
	content: "\e772";
}
.sh-icon-youtube:before {
	content: "\e773";
}
.sh-icon-youtube2:before {
	content: "\e774";
}
.sh-icon-vimeo:before {
	content: "\e775";
}
.sh-icon-vimeo2:before {
	content: "\e776";
}
.sh-icon-vimeo3:before {
	content: "\e777";
}
.sh-icon-lanyrd:before {
	content: "\e778";
}
.sh-icon-flickr:before {
	content: "\e779";
}
.sh-icon-flickr2:before {
	content: "\e77a";
}
.sh-icon-flickr3:before {
	content: "\e77b";
}
.sh-icon-flickr4:before {
	content: "\e77c";
}
.sh-icon-picassa:before {
	content: "\e77d";
}
.sh-icon-picassa2:before {
	content: "\e77e";
}
.sh-icon-dribbble:before {
	content: "\e77f";
}
.sh-icon-dribbble2:before {
	content: "\e780";
}
.sh-icon-dribbble3:before {
	content: "\e781";
}
.sh-icon-forrst:before {
	content: "\e782";
}
.sh-icon-forrst2:before {
	content: "\e783";
}
.sh-icon-deviantart:before {
	content: "\e784";
}
.sh-icon-deviantart2:before {
	content: "\e785";
}
.sh-icon-steam:before {
	content: "\e786";
}
.sh-icon-steam2:before {
	content: "\e787";
}
.sh-icon-github:before {
	content: "\e788";
}
.sh-icon-github2:before {
	content: "\e789";
}
.sh-icon-github3:before {
	content: "\e78a";
}
.sh-icon-github4:before {
	content: "\e78b";
}
.sh-icon-github5:before {
	content: "\e78c";
}
.sh-icon-wordpress:before {
	content: "\e78d";
}
.sh-icon-wordpress2:before {
	content: "\e78e";
}
.sh-icon-joomla:before {
	content: "\e78f";
}
.sh-icon-blogger:before {
	content: "\e790";
}
.sh-icon-blogger2:before {
	content: "\e791";
}
.sh-icon-tumblr:before {
	content: "\e792";
}
.sh-icon-tumblr2:before {
	content: "\e793";
}
.sh-icon-yahoo:before {
	content: "\e794";
}
.sh-icon-tux:before {
	content: "\e795";
}
.sh-icon-apple:before {
	content: "\e796";
}
.sh-icon-finder:before {
	content: "\e797";
}
.sh-icon-android:before {
	content: "\e798";
}
.sh-icon-windows:before {
	content: "\e799";
}
.sh-icon-windows8:before {
	content: "\e79a";
}
.sh-icon-soundcloud:before {
	content: "\e79b";
}
.sh-icon-soundcloud2:before {
	content: "\e79c";
}
.sh-icon-skype:before {
	content: "\e79d";
}
.sh-icon-reddit:before {
	content: "\e79e";
}
.sh-icon-linkedin:before {
	content: "\e79f";
}
.sh-icon-lastfm:before {
	content: "\e7a0";
}
.sh-icon-lastfm2:before {
	content: "\e7a1";
}
.sh-icon-delicious:before {
	content: "\e7a2";
}
.sh-icon-stumbleupon:before {
	content: "\e7a3";
}
.sh-icon-stumbleupon2:before {
	content: "\e7a4";
}
.sh-icon-stackoverflow:before {
	content: "\e7a5";
}
.sh-icon-pinterest:before {
	content: "\e7a6";
}
.sh-icon-pinterest2:before {
	content: "\e7a7";
}
.sh-icon-xing:before {
	content: "\e7a8";
}
.sh-icon-xing2:before {
	content: "\e7a9";
}
.sh-icon-flattr:before {
	content: "\e7aa";
}
.sh-icon-foursquare:before {
	content: "\e7ab";
}
.sh-icon-foursquare2:before {
	content: "\e7ac";
}
.sh-icon-paypal:before {
	content: "\e7ad";
}
.sh-icon-paypal2:before {
	content: "\e7ae";
}
.sh-icon-paypal3:before {
	content: "\e7af";
}
.sh-icon-yelp:before {
	content: "\e7b0";
}
.sh-icon-libreoffice:before {
	content: "\e7b1";
}
.sh-icon-file-pdf:before {
	content: "\e7b2";
}
.sh-icon-file-openoffice:before {
	content: "\e7b3";
}
.sh-icon-file-word:before {
	content: "\e7b4";
}
.sh-icon-file-excel:before {
	content: "\e7b5";
}
.sh-icon-file-zip:before {
	content: "\e7b6";
}
.sh-icon-file-powerpoint:before {
	content: "\e7b7";
}
.sh-icon-file-xml:before {
	content: "\e7b8";
}
.sh-icon-file-css:before {
	content: "\e7b9";
}
.sh-icon-html5:before {
	content: "\e7ba";
}
.sh-icon-html52:before {
	content: "\e7bb";
}
.sh-icon-css3:before {
	content: "\e7bc";
}
.sh-icon-chrome:before {
	content: "\e7bd";
}
.sh-icon-firefox:before {
	content: "\e7be";
}
.sh-icon-IE:before {
	content: "\e7bf";
}
.sh-icon-opera:before {
	content: "\e7c0";
}
.sh-icon-safari:before {
	content: "\e7c1";
}
.sh-icon-IcoMoon:before {
	content: "\e7c2";
}
