/*--------------------------------------------------------------
# WordPress Default Gallery
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	margin-bottom: 30px;

	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}
/*--------------------------------------------------------------
# Post-gallery One
--------------------------------------------------------------*/
%gallery-essential {
	.owl-controls {
		margin: 0;
		padding: 0;
	}
	.owl-controls .owl-nav div {
		display: block !important;
	   	position: absolute;
	   	background: $color__white;
	   	width: 40px;
	   	height: 40px;
	   	text-align: center;
	   	line-height: 37px;
	   	top: 50%;
	   	font-size: 25px;
	   	margin: auto;
		@include prefixed(border-radius, 2px);
		@include prefixed(transform, translate(0, -50%));
	}
	.owl-controls .owl-nav .owl-prev {
		left: 10px;
	}
	.owl-controls .owl-nav .owl-next {
		right: 10px;
	}
}
.gallery-one {
	.item {
		text-align: center;
		img {
			margin: auto;
			height: auto;
			width: 100%;
			display: block;
			vertical-align: middle;
		}
	}
	@extend %gallery-essential;
}
/*--------------------------------------------------------------
# Post-gallery Two
--------------------------------------------------------------*/
.gallery-two {
	.full-view {
		.item {
			text-align: center;
			img {
				margin: auto;
				height: auto;
				width: 100%;
				display: block;
				vertical-align: middle;
			}
		}
		@extend %gallery-essential;
	}
	.list-view {
		margin-top: 4px;
		.item {
		    cursor: pointer;
		    > img {
				vertical-align: middle;
		    }
		}
		.owl-item.active {
			cursor: pointer;
			position: relative;
			z-index: 0;
		    &:before {
				border-color: $color__white transparent transparent;
				border-style: solid;
				border-width: 10px 10px 0;
				content: "";
				height: 0;
				left: 0;
				margin: 0 auto;
				opacity: 0;
				position: absolute;
				right: 0;
				top: 0;
				@include prefixedallon(transition, all 0.2s ease 0s);
				visibility: hidden;
				width: 0;
				z-index: 1;
		    }
		}
		.owl-item.active.current::before {
			opacity: 1;
			visibility: visible;
		}

	}	
}
/*--------------------------------------------------------------
# Post Gallery Tiled
--------------------------------------------------------------*/
.glimmer-tiled-gallery {
    z-index: 8;
    &:after {
	    content: '';
	    display: block;
	    position: absolute;
	    width: 40px;
	    height: 40px;
	    border-radius: 50%;
	    border: 1px solid rgba(0, 0, 0, 0.1);
	    border-top-color: $color__border-four;
	    margin: auto;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: -1;
	    @include prefixed(backface-visibility, hidden);
	    @include prefixed(animation, loadingSlider 1s linear infinite);	
    }
    &.justified-gallery:after {
	    display: none;
	}
	.spinner {
	    display: none!important;
	}
	.item {
	    opacity: 0;
	}
	.item+.item {
	    display: none;
	}
	.item.jg-entry {
	   	opacity: 1;
	}
	.item.jg-entry+.item {
	    display: block;
	}
	&.glimmer-tiled-gallery-mobile .item {
	    opacity: 1;
	}
	&.glimmer-tiled-gallery-mobile .item+.item {
	    display: block;
	}
	.caption {
	    display: none!important;
	}
}
.post-thumb {
	.glimmer-tiled-gallery a,
	.gallery-one a,
	.gallery-two .full-view a {
	    cursor: url("images/cursor-plus.png") 20 20, auto!important;
	}
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: url("images/cursor-minus.png") 20 20, auto;
}
.mfp-zoom {
    cursor: url("images/cursor-plus.png") 20 20, auto;
}
.wp-block-gallery {
	margin: 0 !important;
	> li {
		padding-top: 0 !important;
	}
}
.widget_media_gallery {
	.gallery {
		margin-left: -5px;
		margin-right: -5px;
	}
	.gallery-item {
		padding: 5px;
		margin-bottom: 0;
	}
}