.sticky {
	display: block;
}
.hentry {
	margin: 0 0 75px;
}
.page-content {
	margin: 1.4em 0;
}
.entry-content {
	@extend .page-content;
}
.entry-summary {
	@extend .page-content;
}
.page-links {
	clear: both;
	margin: 0 0 2.1em;
}
/*--------------------------------------------------------------
# Page Heading
--------------------------------------------------------------*/
.header-title {
	text-align: center;
	margin-bottom: 30px;
}

/*--------------------------------------------------------------
# Post Meta
--------------------------------------------------------------*/
.post-format {
	background: $color__white;
	border-radius: 50%;
	height: 55px;
	line-height: 46px;
	margin: -24px auto -32px;
	position: relative;
	width: 55px;
	z-index: 10;
	@include prefixed(backface-visibility, hidden);
	.dashicons, 
	.dashicons-before::before {
	  	font-feature-settings: normal;
	    font-kerning: auto;
	    font-language-override: normal;
	    font-size: inherit;
	    font-size-adjust: none;
	    font-stretch: normal;
	    font-style: normal;
	    font-synthesis: weight style;
	    font-variant: normal;
	    font-weight: normal;
	    line-height: 1;
	    text-rendering: auto;
	    vertical-align: middle;
	}
}
.entry-meta {
	color: $color__meta;
	font-size: 13px;
	letter-spacing: 0.04em;
	//font-weight: bold;
	font-style: italic;
	a {
		color: inherit;
	}
	.entry-date {
		display: inline-block;
	}
}

/*--------------------------------------------------------------
# Post Format
--------------------------------------------------------------*/
.content-area {
	.post {
		position: relative;
		.post-thumb {
			overflow: hidden;
		}
	}
	.page {
		position: relative;
		.post-thumb {
			overflow: hidden;
		}
		.post-status-wrapper {
			text-align: center;
			iframe {
				 margin: 10px auto !important;
			}
		}
		.page-share {
			border-top: 1px solid $color__border-four;
			margin-top: 20px;
			padding-top: 20px;
			text-align: center;
			span {
				font-size: 1.25em;
				font-style: italic;
				&:after {
					content: "-";
					position: relative;
					vertical-align: middle;
				}
			}
			a {
				padding: 0 5px;
			}
		}
	}
	.type-attachment {
		background: $color__white;
		border: 1px solid $color__border-four;
		padding: 1.9em;
		position: relative;
		.post-thumb {
			overflow: hidden;
		}
	}
	// Link Post Format
	// ------------------------
	.post-link {
	    overflow: hidden;
	    position: relative;
	    z-index: 9;
	}
	.post-link-wrapper {
	    margin: 10px;
	    position: relative;
	    z-index: 9;
	    &:after {
		    border: 1px solid $color__white;
		    bottom: -5px;
		    content: "";
		    display: block;
		    left: -5px;
		    position: absolute;
		    right: -5px;
		    top: -5px;
		    z-index: -1;	
	    }
		.tb {
		    height: 100%;
		}
		.tb {
		    display: table;
		    width: 100%;
		    padding: 2px;
		}
		.tb-cell {
		    display: table-cell;
		    vertical-align: middle;
			> a {
				display: block;
				font-size: em(13px);
				font-style: italic;
				letter-spacing: 0.1em;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 100%;
			}
		}
		h2 {
		    font-size: em(24px);
		    margin-top: 10px;
		    font-weight: 700;
		    text-transform: uppercase;
		}
		.icon-area {
			background: rgba($color__white, 0.8);
			float: left;
			margin-right: 11px;
			padding: 45px;
			position: relative;
			&:after {
				border-right: 1px solid $color__white;
				content: "";
				height: 100%;
				position: absolute;
				top: 0;
				right: -6px;
			}
		}
		.fa {
		    font-size: 4em;
		}
		~ .images {
			height: 100%;
			left: 0;
			padding-top: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: -1;
			overflow: hidden;
			@include prefixed(transform, translateZ(0px));
		}
		.link-content {
			background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
			padding-left: 30px;
			width: 100%;
		}
	}
	.images img {
	    left: 50%;
	    max-width: none !important;
	    position: absolute !important;
	    top: 50%;
	    transform: translate(-50%, -50%);
	    width: 100%;
	}
	// Status Post Format
	// ------------------------
	.format-status {
		.post-status-wrapper {
			background-size: cover !important;
			padding: 2.85em 0;
			text-align: center;
			overflow: hidden;
			.twitter-tweet {
				margin-left: auto;
				margin-right: auto;
			}
			.embed, iframe, object {
				margin: 0 auto !important;
			}
		}
	}
	// Chat Post Format
	// ------------------------
	.format-chat {
		.entry-content {
			margin-bottom: 0;
		}
		.chat-transcript { 
			padding: 5px 15px 30px; 
		}
		.chat-row { 
		  	padding: 5px 0; 
		  	clear: both; 
		  	overflow: hidden;
		  	p {
		  		margin-bottom: 0 !important;
		  		line-height: 1.4em;
		  	}
		  	cite {
		  		font-style: normal; 
			  	font-weight: bold; 
		  	}
		  	&:nth-child(2n+2) {
				.chat-author {
				  	float: right; 
				  	padding: 10px  0 0 15px; 
				}
				.chat-text {
				  	float: right;
				  	background: $color__white;
				  	border: 1px solid $color__border-four; 
				  	&:before {
					    float: right;
					    margin: 5px -28px 0 0 ;
					    border-right-color: transparent !important;	
					    border-left-color: $color__border-four;	
				  	}
				}
			}
		}
		.chat-author {
		 	float: left; 
		  	padding: 10px 15px 0 0;
		}
		.chat-text {
		    padding: 10px 15px;
		    max-width: 55%;
		    float: left;
		    background: $color__white;
		    border: 1px solid $color__border-four;
		    @include prefixed(border-radius, 2px);
		    &:before {
			    float: left;
			    content: " ";
			    display: block;
			    width: 0;
			    height: 0;
			    margin: 5px 0 0 -28px;
			    border: 6px solid transparent;
			    border-right-color: $color__border-four;
		    }
		    a {
		    	color: $color__white;
		    	text-decoration: underline;
		    }
		}
		.entry-content {
			#readmore-add .more-link {
				margin-top: 0 !important;
				margin-bottom: 30px;
			}
			.chat-text p .more-link {
				display: none;
			}
		}
	}
	// For twitter-embed post
	// ------------------------
	.format-standard {
		.entry-content {
			.twitter-tweet.twitter-tweet-rendered {
				margin: auto !important;
			}
		}
	}
	// For Self Hosted Audio
	// ----------------------
	.format-audio {
		.entry-title {
			margin-top: 30px;
		}
		.post-media {
		    overflow: hidden;
		    position: relative;
		    z-index: 9;
		}
		.post-media .audio-images ~ .post-audio-player {
		    border: 0 none;
		    bottom: 5px;
		    left: 5px;
		    position: absolute;
		    right: 5px;
		    z-index: 9;
		}
		.post-audio-player {
			background: rgba($color__white, 0.8);
			padding: 30px;
			text-align: center;
		}
	}
	.no-image {	
		.post-format {
			background: $header__footer-bg;
			line-height: 55px;
			margin-bottom: -15px;
			margin-top: -20px;
		}	
	}	
	.grid .no-image {	
		.post-format {
			line-height: 49px;
		}	
	}
	.full-width:first-child .no-image {
		.post-format {
			margin-top: 0;
		}
	}
}